<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="12" md="12" lg="12" class="py-0">
        <!-- BOTON IMPRIMIR CSV -->
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              @click="jsexport"
              :loading="loading"
              absolute
              dark
              fab
              top
              right
              color="#E63E59"
              v-on="on"
            >
              <v-icon>mdi-download</v-icon>
            </v-btn>
          </template>
          <span>Download</span>
        </v-tooltip>
        <!-- FIN BOTON IMPRIMIR CSV -->
        <!-- BARRA SELECCIONAR MESES Y RECARGAR -->
        <v-toolbar flat color="white" class="shadow-large round">
          <v-toolbar-title class="text-accent">
            {{ getCampaign.name == undefined ? 'Select campaign' : getCampaign.name }} -
            Daily Activity
          </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-btn
            outlined
            class="mx-2"
            :loading="loading"
            dark
            @click="getValuesTable"
            color="#E84D66"
          >
            <v-icon>mdi-sync</v-icon>
          </v-btn>
          <v-btn outlined :loading="loading" dark @click="rotateMonths(-1)" color="#E84D66">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn
            outlined
            :loading="loading"
            dark
            class="mr-5 ml-2"
            @click="rotateMonths(1)"
            color="#E84D66"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-toolbar>
        <!-- FIN BARRA SELECCIONAR MESES Y RECARGAR -->
        <v-card class="shadow-large round">
          <v-simple-table fixed-header height="37rem">
            <template v-slot:default>
              <thead>
                <tr>
                  <th style="background: #104961;" class="text-left length_text px-5">
                    <span class="title">2020</span>
                  </th>
                  <th style="background: #104961;" class="text-left length_text">QTR</th>
                  <th style="background: #104961;"
                    class="text-center length_text"
                    v-for="(month, index) in getLastMonths"
                    :key="index"
                  >
                    <span @click="selectOtherMonth(month)" class="custom_color">
                      <v-chip class="mt-2 custom_select">{{ month }}</v-chip>
                    </span>
                    <v-divider color="white"></v-divider>
                    <span class="custom_color">Total</span>
                  </th>
                  <th
                  style="background: #104961;"
                    class="text-center length_text"
                    v-for="(item, index) in days"
                    :key="index + 'n'"
                  >
                    {{ item.day_name }}
                    <v-divider color="white"></v-divider>
                    <span class="custom_color">{{ item.day }}</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(row, index) in tableBodyTest">
                  <!-- ITERACION OBJETO PADRE -->
                  <tr
                    style=" background-color: #6CC1E6; white-space:nowrap"
                    class="white--text"
                    :key="index + 'z'"
                    v-if="row.fatherName"
                  >
                    <!-- NOMBRE DEL PADRE -->
                    <td
                      style=" background-color: #6CC1E6; white-space:nowrap"
                      class="text-left"
                    >{{row.fatherName}}</td>
                    <!-- FIN NOMBRE DEL PADRE -->
                    <!-- VALORES DEL PADRE-->
                    <td
                      style=" background-color: #6CC1E6; white-space:nowrap"
                      v-show="row.hasOwnProperty('formulas')"
                      v-for="(value, key, keyfindex) in row.formulas"
                      :key="keyfindex + 'f_father'"
                      :class="keyfindex == 0 || keyfindex == 1 || keyfindex == 2 || keyfindex == 3 ? 'text-right' : 'text-center'"
                    >
                      <!-- CHIP SOLO A LOS VALORES DE LOS MESES -->
                      <v-chip
                        v-if="keyfindex == 1 && value !== 0 || keyfindex == 2 && value !== 0 || keyfindex == 3 && value !== 0"
                      >{{ value | toFixed(0, row.fatherName) }}</v-chip>
                      <!-- FIN CHIP SOLO A LOS VALORES DE LOS MESES -->
                      <!-- MOSTRAR VALOR NORMAL -->
                      <span
                        v-else
                        :class="keyfindex == 0 ? 'font-weight-bold' : ''"
                      >{{ value | toFixed(0, row.fatherName) }}</span>
                      <!-- FIN MOSTRAR VALOR NORMAL -->
                    </td>
                    <!-- FIN VALORES DEL PADRE -->
                  </tr>
                  <!-- FIN ITERACION OBJETO PADRE -->
                  <!-- ITERACION OBJETO HIJO -->
                  <tr
                    v-show="row.hasOwnProperty('children')"
                    v-for="(subrow, subindex) in row.children"
                    :key="index + '-' +subindex"
                  >
                    <!-- NOMBRE DE LA DISPOSICION -->
                    <td style=" white-space:nowrap" class="text-right">{{ subrow.name }}</td>
                    <!-- FIN NOMBRE DE LA DISPOSICION -->
                    <!-- VALORES DE LOS MESES Y QTR -->
                    <td
                      v-show="row.hasOwnProperty('formulas')"
                      v-for="(subvalue, subkey, keysindex) in subrow.formulas"
                      :key="keysindex + 'f_son'"
                      :class="keysindex == 0 ||keysindex == 1 || keysindex == 2 || keysindex == 3 ? 'text-right' : 'text-center'"
                    >
                      <v-chip
                        v-if="keysindex == 1 && subvalue !== 0 || keysindex == 2 && subvalue !== 0 || keysindex == 3 && subvalue !== 0"
                      >{{ subvalue | toFixed(0, row.fatherName) }}</v-chip>
                      <span
                        v-else
                        :class="keysindex == 0 ? 'font-weight-bold' : ''"
                      >{{ subvalue | toFixed(0, row.fatherName) }}</span>
                    </td>
                    <!-- FIN VALORES DE LOS MESES Y QTR -->
                  </tr>
                </template>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
        <!-- <pre>{{tableBodyTest}}</pre> -->
      </v-col>
    </v-row>
  </v-container>
</template>
<script src="./R2TableReport.js"></script>
<style src="./R2TableReport.css"></style>
