.length_text_1 {
  font-size: 1.1rem !important;
}
.length_text {
  font-size: 1rem !important;
}
.tam-header {
  min-width: 160px !important;
  max-width: 160px !important;
  font-size: 1rem !important;
}
.custom_color {
  color: white !important;
}

.length_text {
  font-size: 1rem !important;
  color: white !important;
}
.custom_select{
  cursor: pointer;
}
