<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="12" md="12" lg="12" class="py-0">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn @click="getBody" absolute dark fab top right small color="#E63E59" v-on="on">
              <v-icon>mdi-download</v-icon>
            </v-btn>
          </template>
          <span>Download</span>
        </v-tooltip>
        <v-responsive>
          <v-simple-table>
            <template v-slot:top>
              <v-toolbar flat color="transparent">
                <v-toolbar-title
                  class="text-accent"
                >{{ getCampaign.name == undefined ? 'Select campaign' : getCampaign.name }} - Daily Activity</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
              </v-toolbar>
            </template>
            <template v-slot:default>
              <thead class="length_text head-color">
                <tr>
                  <th class="text-left length_text"></th>
                  <th class="text-left length_text">YTD</th>
                  <th
                    class="text-center length_text"
                    v-for="(month, index) in getLastMonths"
                    :key="index"
                  >
                    <span @click="getDays(month)" class="custom_color">{{ month }}</span>
                    <v-divider color="white"></v-divider>
                    <span class="custom_color">Total</span>
                  </th>
                  <th
                  
                    class="text-center length_text"
                    v-for="(item, index) in days"
                    :key="index + 'n'"
                  >
                    {{ item.day_name }}
                    <v-divider color="white"></v-divider>
                    <span class="custom_color">{{ item.day }}</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr style="background: #6CC1E6">
                  <td style="background: #6CC1E6; white-space:nowrap" class="length_text head-color">Total Hours</td>
                  <td
                    v-for="(body, index) in getBody"
                    :key="index + 'a'"
                    class="text-center"
                  >{{ body.value + Math.floor(Math.random() * 10)}}</td>
                  <td>21212</td>
                  <td>21212</td>
                  <td>21212</td>
                </tr>

                <tr>
                  <td style="white-space:nowrap" class="text-right">asd</td>
                </tr>


                <tr v-for="(item, index) in Total_Hours" :key="index + 'b'">
                  <td style="white-space:nowrap" class="text-right">{{ item.name }}</td>
                  <td
                    v-for="(body, index) in getBody"
                    :key="index + 'aa'"
                    class="text-center"
                  >{{ body.value + Math.floor(Math.random() * 10)}}</td>
                  <td>21212</td>
                </tr>
                
              </tbody>
            </template>
          </v-simple-table>
        </v-responsive>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import moment from "moment";

export default {
  data: () => ({
    currentMonth: "",
    dayOfMonth: "",
    showDays: false,
    days: [],
    length: 3,
    onboarding: 0,
    Total_Hours: [
      {
        name: "Dials per Hour",
        calories: 159
      },
      {
        name: "Contacts (Sales, Refusals, Calbacks) per Hours",
        calories: 237
      }
    ],
    Primary_Sales: [
      {
        name: "Applications Received",
        calories: 159
      },
      {
        name: "Apps/Hours",
        calories: 237
      }
    ],
    Other_Commissionable_Hours: [
      {
        name: "",
        calories: ""
      },
      {
        name: "",
        calories: ""
      }
    ],
    sales_pipeline: [
      {
        name: "Applications Sent",
        calories: "345"
      },
      {
        name: "Information On Company",
        calories: "345"
      },
      {
        name: "Wood Apps",
        calories: "345"
      },
      {
        name: "Call Backs",
        calories: "345"
      }
    ],
    Load_Analysis: [],
    calls_log: [
      {
        name: "Inbound",
        calories: "345"
      },
      {
        name: "Outbound",
        calories: "345"
      }
    ],
    recycles: [
      {
        name: "Not Avalaible",
        calories: "345"
      },
      {
        name: "Busy",
        calories: "345"
      },
      {
        name: "Info On Company",
        calories: "345"
      },
      {
        name: "Wood App Out",
        calories: "345"
      },
      {
        name: "Sheduled Callback",
        calories: "345"
      }
    ],
    finalized_declines: [
      {
        name: "Not Interested",
        calories: "345"
      },
      {
        name: "Do Not Call",
        calories: "345"
      },
      {
        name: "Not A Business",
        calories: "345"
      },
      {
        name: "Lead Finalized (Other Reasons)",
        calories: "345"
      }
    ]
  }),
  filters: {},
  created() {
    // this.getValues();
    this.getDays(moment(new Date(), "YYY-MM-DD").format("MMM"));
  },
  computed: {
    getLastMonths() {
      const months = moment.monthsShort();
      const currentMonth = moment().month();
      let lastMonths = [
        months[currentMonth - 2],
        months[currentMonth - 1],
        months[currentMonth]
      ];
      return lastMonths;
    },
    getBody() {
      let arrayData = [];
      let currentMonth = this.currentMonth;
      let dayOfMonth = this.dayOfMonth;
      for (let index = 0; index < dayOfMonth; index++) {
        arrayData[index] = {
          name: "Principal name",
          value: Math.floor(Math.random() * 101)
        };
      }
      return arrayData;
    },
    getAgents() {
      return this.$store.dispatch("report_1/GET_AGENTS");
    },
    getCampaign() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    }
  },

  methods: {
    async getValues() {
      try {
        const request = {
          date1: moment()
            .set("month", this.getLastMonths[0])
            .format("MM/DD/YYYY"),
          date2: moment()
            .set("month", this.getLastMonths[2])
            .format("MM/DD/YYYY"),
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"]
        };
        const response = await this.$store.dispatch(
          "report_1/GET_FILE",
          request
        );
        const selectAgents = response.data.filter(agents => {
          if (agents.telephonic_data.id == this.getAgents.id) {
            return;
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
    getDays(month) {
      this.showDays = false;
      this.currentMonth = month;
      const dayOfMonth = moment()
        .month(month)
        .daysInMonth();
      this.dayOfMonth = dayOfMonth;
      const currentDay = moment()
        .month(month)
        .format("MM/DD/YYYY");
      let arrayOfDays = [];
      for (let index = 1; index < dayOfMonth; index++) {
        arrayOfDays[index] = {
          day: `${moment.monthsShort().indexOf(month) +
            1}/${index}/${moment().year()}`,
          day_name: moment()
            .year(2020)
            .month(month)
            .date(index)
            .format("ddd")
        };
        // arrayOfDays.push(`${moment.months().indexOf(month)+1}/${index}/${moment().year()}`);
      }
      this.days = arrayOfDays;
      // console.log("antes de eliminar", this.days);
      let value = this.days.shift();
      // console.log(value);
      // console.log(this.days);
    }
  }
};
</script>
<style>
.length_text_1 {
  font-size: 1.1rem !important;
}
.length_text {
  font-size: 1rem !important;
}
.tam-header {
  min-width: 160px !important;
  max-width: 160px !important;
  font-size: 1rem !important;
}
.custom_color {
  color: white !important;
}

.length_text {
  font-size: 1rem !important;
  color: white !important;
}
</style>
