<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadow-large round">
          <v-data-table
            :headers="headers"
            :items="ItemsAgents"
            hide-default-footer
            disable-pagination
            class="elevation-0"
          >
            <template v-slot:top>
              <v-toolbar flat color="transparent">
                <v-toolbar-title class="text-accent">{{ NameCampaigns.name == undefined ? 'Select campaign' : NameCampaigns.name }} - Agents</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-btn outlined @click="updateManyAgents" dark color="#E84D66">Save</v-btn>
              </v-toolbar>
            </template>
            <template v-slot:item.hcc="{ item }">
              <v-simple-checkbox v-model="item.hcc" @input="add_table_agents"></v-simple-checkbox>
            </template>
            <template v-slot:item.active="{ item }">
              <v-simple-checkbox v-model="item.active"></v-simple-checkbox>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import moment from "moment";
import Swal from "sweetalert2";
export default {
  data: () => ({
    originalAgents: [],
    json: {},
    headers: [
      { text: "Name", value: "name", class: "length_text head-color" },
      { text: "HCC ", value: "hcc", class: "length_text head-color" },
      { text: "Active", value: "active", class: "length_text head-color" }
    ]
  }),
  mounted() {
    this.index_agents()
  },
  computed: {
    ItemsAgents() {
      const parse = this.$store.getters["report_1/GET_AGENTS_GENERAL"].filter(
        value => {
          value.hcc == 0 ? (value.hcc = false) : (value.hcc = true);
          value.active == 0 ? (value.active = false) : (value.active = true);
          return value;
        }
      );
      this.originalAgents = [...parse];
      return parse;
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    }
  },

  methods: {
    async index_agents () {
      console.log('*****')
      try {
        const request = {
          campaign_id: localStorage.getItem("campaign_id")
        }
        const response = await this.$store.dispatch(
          "report_1/GET_AGENTS",
          request
        );
      } catch(e) {
        // statements
        console.log(e);
      }
    },
    async add_table_agents() {
      const request = {
        data: this.ItemsAgents.filter(index => {
          return index.hcc == true;
        })
      };
      this.json = request;
      const response = await this.$store.commit(
        "report_1/SET_AGENTS_TABLE",
        request
      );
    },
    async updateManyAgents() {
      let agents = [];
      let enviar = { agents };
      for (let index = 0; index < this.ItemsAgents.length; index++) {
        agents[index] = {
          id: this.ItemsAgents[index].id,
          hcc: this.ItemsAgents[index].hcc,
          active: this.ItemsAgents[index].active
        };
      }
      const response = await this.$store.dispatch(
        "report_2/UPDATE_MANY_AGENTS",
        enviar
      );
      Swal.fire({
        icon: "success",
        title: "Agents updated successfully",
        confirmButtonColor: "#25A8E0"
      });
    }
  }
};
</script>
<style>
.length_text {
  font-size: 1rem !important;
  color: white !important;
}
.tam-header {
  min-width: 160px !important;
  max-width: 160px !important;
  font-size: 1rem !important;
}
</style>