<template>
  <v-dialog v-model="active" max-width="700px" persistent>
    <v-card>
      <v-card-title>
        <span class="headline">{{ value == 0 ? 'New' : 'Update' }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="12" md="4">
              <v-text-field v-model="data.name" label="Name"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-radio-group v-model="data.final" :mandatory="false">
                <v-radio label="Recycle" value="recycle"></v-radio>
                <v-radio label="Final" value="final"></v-radio>
              </v-radio-group>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-radio-group v-model="data.contact" :mandatory="false">
                <v-radio label="No Contact" value="no contact"></v-radio>
                <v-radio label="Contact" value="contact"></v-radio>
              </v-radio-group>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-radio-group v-model="data.effective" :mandatory="false">
                <v-radio label="Not Effective" value="not effective"></v-radio>
                <v-radio label="Effective" value="effective"></v-radio>
              </v-radio-group>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-checkbox v-model="data.pipeline" label="Pipeline"></v-checkbox>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-checkbox v-model="data.decline" label="Decline"></v-checkbox>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-checkbox v-model="data.primary" label="Primary"></v-checkbox>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn outlined @click="$emit('dialog:change', 'cerrar')">Cancel</v-btn>
        <v-btn color="#E63E59" outlined @click="registerDisposition">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Swal from "sweetalert2";
export default {
  props: ["active", "data", "value"],
  data() {
    return {
      name: "",
      final: "",
      contact: "",
      effective: "",
      primary: false,
      pipeline: false,
      decline: false
    };
  },
  methods: {
    async registerDisposition() {
      try {
        const enviar = {
          name: this.data.name,
          final: this.data.final,
          contact: this.data.contact,
          effective: this.data.effective,
          pipeline: this.data.pipeline,
          decline: this.data.decline,
          primary: this.data.primary
        };
        if (this.value == 0) {
          const response = await this.$store.dispatch(
            "report_2/REGISTER_DISPOSITION",
            enviar
          );
          if (response.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Disposition created successfully",
              confirmButtonColor: "#25A8E0"
            });
            this.$emit("dialog:change", "cerrar");
          }
        } else {
          const response = await this.$store.dispatch(
            "report_2/UPDATE_DISPOSITION",
            {
              data: this.data,
              id: this.data.id,
              position_array: this.data.position_array
            }
          );
          if (response.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Disposition updated successfully",
              confirmButtonColor: "#25A8E0"
            });
            this.$emit("dialog:change", "cerrar");
          }
        }
      } catch (error) {
        let e = error.response.data.message;
        let list = "";

        for (const prop in e) {
          list = list + `<li>${e[prop][0]}</li>`;
        }

        Swal.fire({
          icon: "error",
          title: "Oops...",
          html: list,
          confirmButtonColor: "#25A8E0"
        });
      }
    }
  }
};
</script>

<style>
</style>