<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="shadow-large round">
          <v-data-table
            :headers="headers"
            :items="DispositionValues"
            sort-by="calories"
            hide-default-footer
            disable-pagination
            class="elevation-0"
          >
            <template v-slot:top>
              <v-toolbar flat color="transparent">
                <v-toolbar-title
                  class="text-accent"
                >{{ NameCampaigns.name == undefined ? 'Select campaign' : NameCampaigns.name }} - Dispositions</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-btn
                  outlined
                  class="mx-2"
                  :loading="loading"
                  dark
                  @click="getDisposition"
                  color="#E84D66"
                >
                  <v-icon>mdi-sync</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn outlined color="#E63E59" dark class="mb-2" @click="HandlerRegister">
                  <v-icon class="mr-3">mdi-account-plus</v-icon>New Disposition
                </v-btn>
                <CreateDisposition
                  :active="active"
                  :data="dispositionValue"
                  @dialog:change="eventdialog"
                  :value="value"
                />
              </v-toolbar>
            </template>
            <template v-slot:item.name="{ item }">
              <span class="text-right">{{item.name}}</span>
            </template>
            <template v-slot:item.primary="{ item }">{{item.primary | primary}}</template>
            <template v-slot:item.pipeline="{ item }">{{item.pipeline | pipeline}}</template>
            <template v-slot:item.decline="{ item }">{{item.decline | decline}}</template>
            <template v-slot:item.action="{ item }">
              <v-icon class="mr-12" @click="HandlerEdit(item)">mdi-pencil</v-icon>
              <v-icon @click="HandlerDelete(item)">mdi-delete</v-icon>
            </template>
            <!-- <template v-slot:no-results>NO RESULTS HERE!</template> -->
            <!-- <template v-slot:no-data>
              <v-btn
                :loading="loading"
                color="#E63E59"
                dark
                class="mb-2"
                @click="getDisposition"
              >Reset</v-btn>
            </template> -->
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Swal from "sweetalert2";
import CreateDisposition from "./R2_create_disposition";
export default {
  components: {
    CreateDisposition
  },
  data: () => ({
    loading: false,
    dispositionValue: {},
    active: false,
    value: 0,
    headers: [
      {
        text: "Disposition",
        align: "end",
        sortable: true,
        value: "name",
        class: "text-right length_text head-color"
      },
      {
        text: "Final",
        align: "start",
        sortable: true,
        value: "final",
        class: " length_text head-color"
      },
      {
        text: "Contact",
        align: "start",
        sortable: true,
        value: "contact",
        class: " length_text head-color"
      },
      {
        text: "Effective",
        align: "start",
        sortable: true,
        value: "effective",
        class: " length_text head-color"
      },
      {
        text: "Primary",
        align: "start",
        sortable: true,
        value: "primary",
        class: " length_text head-color"
      },
      {
        text: "Pipeline",
        align: "start",
        sortable: true,
        value: "pipeline",
        class: " length_text head-color"
      },
      {
        text: "Decline",
        align: "start",
        sortable: true,
        value: "decline",
        class: " length_text head-color"
      },
      {
        text: "Edit / Delete",
        value: "action",
        align: "start",
        sortable: false,
        class: " length_text head-color"
      }
    ],

    disposition: []
  }),

  created() {
    this.getDisposition();
  },

  filters: {
    primary(value) {
      if (value == 1) {
        return "primary";
      } else {
        return "---";
      }
    },
    pipeline(value) {
      if (value == true) {
        return "pipeline";
      } else {
        return "---";
      }
    },
    decline(value) {
      if (value == true) {
        return "decline";
      } else {
        return "---";
      }
    }
  },

  computed: {
    formTitle() {
      return this.edit === false ? "New" : "Edit";
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    },
    DispositionValues() {
      return this.$store.getters["report_2/GET_DISPOSITIONS"];
    }
  },

  methods: {
    async getDisposition() {
      this.loading = true;
      try {
        const request = {
          id: this.NameCampaigns.id === undefined ? 0 : this.NameCampaigns.id
        };
        const response = await this.$store.dispatch(
          "report_2/GET_LIST_DISPOSITION",
          request
        );
        this.disposition = response.data.data;
        this.loading = false;
      } catch (error) {
        this.loading = false;
        console.log(error);
      }
    },
    HandlerRegister() {
      this.active = true;
      this.value = 0;
      this.dispositionValue = {};
    },
    HandlerEdit(item) {
      this.active = true;
      this.value = 1;
      this.dispositionValue = {
        ...item,
        position_array: this.DispositionValues.indexOf(item)
      };
    },
    async HandlerDelete(item) {
      try {
        const response = await this.$store.dispatch(
          "report_2/DELETE_DISPOSITION",
          { id: item.id }
        );
        if (response.status == 200) {
          Swal.fire({
            icon: "success",
            title: "Disposition deleted successfully",
            confirmButtonColor: "#25A8E0"
          });
        }
      } catch (error) {
        console.log(error);
      }
    },
    eventdialog(message) {
      if (message !== "cerrar") {
        this.active = false;
        this.dispositionValue = {};
      }
      this.active = false;
    }
  }
};
</script>

<style>
.length_text {
  font-size: 1rem !important;
  color: white !important;
}
.theme--light.v-data-table .v-data-table-header th.sortable.active, .theme--light.v-data-table .v-data-table-header th.sortable.active .v-data-table-header__icon, .theme--light.v-data-table .v-data-table-header th.sortable:hover {
    color: rgb(250 247 247 / 87%) !important;
}

.theme--light.v-data-table .v-data-table-header th.sortable .v-data-table-header__icon {
    color: rgb(250 247 247 / 87%) !important;
}
</style>
