// Border Radius
.round-small{
    border-radius: 10px !important;
  }
  .round{
    border-radius: 5px !important;
  }
  
  // Shadows
  .shadow-large {
    box-shadow: 0 1px 15px rgba(27,31,35,.15)!important;
  }

  .head-color{
  	background: #104961 !important;
  }

  .agentes thead tr {
  	background: #104961;
  	border-radius: 5px;
  }

  .text-accent {
  	color: #E63E59 !important;
  }