<template>
	<v-container fluid class="pt-0">
    <v-row class="py-0">
      <v-col cols="12" class="py-0">
        <v-card flat>
          <v-toolbar flat color="white" class="shadow-large round">
            <v-toolbar-title
              class="text-accent"
            > {{ NameCampaigns.name == undefined ? 'Select campaign' : NameCampaigns.name }} - Scorecard</v-toolbar-title>
            <!-- {{DateDashboard}} -->
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn absolute dark fab top right color="#E63E59" @click="jsexport" v-on="on">
                  <v-icon>mdi-download</v-icon>
                </v-btn>
              </template>
              <span>Download</span>
            </v-tooltip>
          </v-toolbar>
        </v-card>
      </v-col>
    </v-row>
    <!-- principal -->
    <v-row class="pt-0">
      <v-col cols="12" class="pt-0">
        <v-app-bar
            :collapse="principal_section"
            collapse-on-scroll
            color="#104961"
            scroll-target="#scrolling-techniques-6"
            short
        >
            <!-- <v-toolbar-title>GENERACIÓN</v-toolbar-title> -->

            <v-spacer></v-spacer>
            <div style="font-size: 16px;" class="font-weight-bold white--text text-center">
              {{current_day()}}             
            </div>
            <!-- <v-spacer></v-spacer> -->
            <v-spacer></v-spacer> 

            <v-checkbox
                v-model="principal_section"
                color="white"
                hide-details
            ></v-checkbox>
        </v-app-bar>
        <!-- <v-toolbar 
          color="white" 
          class="elevation-0" 
          dense 
          v-if="principal_section"
          style="border-radius: 0px;">
          <span class="font-weight-bold grey--text text--darken-1">Total</span>
        </v-toolbar> -->
        <v-simple-table
          fixed-header
          height="500"
          v-if="principal_section"
        >
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left tam-header">Total</th>
                <th class="text-left tam-header"> </th>
                <th class="text-left tam-header"> </th>
                <th class="text-left tam-header">{{table_today_total.total.total_hours | hours}}</th>
                <th class="text-left tam-header">
                {{adherence_session(table_today_total.total)}} %
                </th>
                <th class="text-left tam-header">{{table_today_total.total.disposed_calls}}</th>
                <th class="text-left tam-header">{{table_today_total.total.calls_per_hour | parse_decimal}}</th>
                <th class="text-left tam-header">{{table_today_total.total.talktime | hours}}</th>
              </tr>
              <tr>
                <th class="text-left tr-color tam-header" style="width: 350px">Agent</th>
                <th class="text-left tr-color tam-header">Log In</th>
                <th class="text-left tr-color tam-header">Log Out</th>
                <th class="text-left tr-color tam-header">Session Time</th>
                <th class="text-left tr-color tam-header">Adherence</th>
                <th class="text-left tr-color tam-header">Dispo'ed Calls</th>
                <th class="text-left tr-color tam-header">Calls per Hour</th>
                <th class="text-left tr-color tam-header">Talktime</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in table_principal" :key="item.name">
                <td>{{ item.name }}</td>
                <td>{{ item.login | hours_log}}</td>
                <td>{{ item.logout | hours_log}}</td>
                <td>{{ item.total_hours | hours }}</td>
                <td>{{ item.adherence | parse_int }} %</td>
                <td>{{ item.disposed_calls }}</td>
                <td>{{ item.calls_per_hour | parse_decimal }}</td>
                <td>{{ item.talktime | hours }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>             
      </v-col>
    </v-row>
    <v-row class="pt-0">
      <!-- primera -->
      <v-col cols="12" class="pt-0">
        <v-app-bar
            :collapse="first_fortnight_section"
            collapse-on-scroll
            color="#104961"
            scroll-target="#scrolling-techniques-6"
            short
        >
            <v-spacer></v-spacer>
            <span style="font-size: 16px;" class="font-weight-bold white--text">
              {{first_fortnight()}}      
            </span>
            <v-spacer></v-spacer> 

            <v-checkbox
                v-model="first_fortnight_section"
                color="white"
                hide-details
            ></v-checkbox>
        </v-app-bar>
        <v-simple-table
          fixed-header
          height="500"
          v-if="first_fortnight_section"
        >
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left tam-header" style="width: 300px">Total</th>
                <th class="text-left tam-header">
                  {{table_first_total.total.session > 0 ? table_first_total.total.session : 0}}
                </th>
                <th class="text-left tam-header">
                  {{table_first_total.total.target_time > 0 ? table_first_total.total.target_time : 0}}
                </th>
                <th class="text-left tam-header">{{table_first_total.total.total_hours | hours}}</th>
                <th class="text-left tam-header">
                  {{ adherence_session(table_first_total.total) }} %
                </th>
                <th class="text-left tam-header">{{table_first_total.total.disposed_calls}}</th>
                <th class="text-left tam-header">{{table_first_total.total.calls_per_hour | parse_decimal}}</th>
                <th class="text-left tam-header">{{table_first_total.total.talktime | hours}}</th>
              </tr>
              <tr>
                <th class="text-left tr-color tam-header" style="width: 350px">Agent</th>
                <th class="text-left tr-color tam-header" >Sessions</th>
                <th class="text-left tr-color tam-header" >Target Time</th>
                <th class="text-left tr-color tam-header" >Session Time</th>
                <th class="text-left tr-color tam-header" >Adherence</th>
                <th class="text-left tr-color tam-header" >Dispo'ed Calls</th>
                <th class="text-left tr-color tam-header" >Calls per Hour</th>
                <th class="text-left tr-color tam-header" >Talktime</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in table_first" :key="item.name">
                <td>{{ item.name }}</td>
                <td>{{ item.session }}</td>
                <td>{{ item.target_time }}</td>
                <td>{{ item.total_hours | hours }}</td>
                <td>{{ adherence_session(item) }} %</td>
                <td>{{ item.disposed_calls }}</td>
                <td>{{ item.calls_per_hour | parse_decimal }}</td>
                <td>{{ item.talktime | hours }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>             
      </v-col>
      <!-- segunda -->
      <v-col cols="12" class="pt-0">
        <v-app-bar
            :collapse="second_fortnight_section"
           collapse-on-scroll
            color="#104961"
            scroll-target="#scrolling-techniques-6"
            short
        >
            <!-- <v-toolbar-title>GENERACIÓN</v-toolbar-title> -->

            <v-spacer></v-spacer>
            <span style="font-size: 16px;" class="font-weight-bold white--text">
              {{second_fortnight()}}        
            </span>
            <!-- <v-spacer></v-spacer> -->
            <v-spacer></v-spacer> 

            <v-checkbox
                v-model="second_fortnight_section"
                color="white"
                hide-details
            ></v-checkbox>
        </v-app-bar>
        <!-- <v-toolbar 
          color="white" 
          class="elevation-0" 
          dense 
          v-if="second_fortnight_section"
          style="border-radius: 0px;">
          <span class="font-weight-bold grey--text text--darken-1">Total</span>
        </v-toolbar> -->
        <v-simple-table
          fixed-header
          height="500"
          v-if="second_fortnight_section"
        >
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left tam-header">Total</th>
                <th class="text-left tam-header">
                  {{table_second_total.total.session > 0 ? table_second_total.total.session : 0}}
                </th>
                <th class="text-left tam-header">
                  {{table_second_total.total.target_time > 0 ? table_second_total.total.target_time : 0}}
                </th>
                <th class="text-left tam-header">{{table_second_total.total.total_hours | hours}}</th>
                <th class="text-left tam-header">
                  {{adherence_session(table_second_total.total) }} %
                </th>
                <th class="text-left tam-header">{{table_second_total.total.disposed_calls}}</th>
                <th class="text-left tam-header">{{table_second_total.total.calls_per_hour | parse_decimal}}</th>
                <th class="text-left tam-header">{{table_second_total.total.talktime | hours}}</th>
              </tr>
              <tr>
                <th class="text-left tr-color tam-header" style="width: 350px">Agent</th>
                <th class="text-left tr-color tam-header">Sessions</th>
                <th class="text-left tr-color tam-header">Target Time</th>
                <th class="text-left tr-color tam-header">Session Time</th>
                <th class="text-left tr-color tam-header">Adherence</th>
                <th class="text-left tr-color tam-header">Dispo'ed Calls</th>
                <th class="text-left tr-color tam-header">Calls per Hour</th>
                <th class="text-left tr-color tam-header">Talktime</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in table_second" :key="item.name">
                <td>{{ item.name }}</td>
                <td>{{ item.session }}</td>
                <td>{{ item.target_time }}</td>
                <td>{{ item.total_hours | hours }}</td>
                <td>{{ adherence_session(item) }} %</td>
                <td>{{ item.disposed_calls }}</td>
                <td>{{ item.calls_per_hour | parse_decimal }}</td>
                <td>{{ item.talktime | hours }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>             
      </v-col>
    </v-row>    
  </v-container>
</template>
<script>
import Swal from "sweetalert2";
import moment from "moment";

export default {
  data() {
    return {
      principal_section: true,
      first_fortnight_section: true,
      second_fortnight_section: true,
      dense: false,
      fixedHeader: false,
      height: 300,
      table_first: [],
      table_second: [],
      table_principal: [],
      table_first_total: {
        total: {
          adherence: 0,
          calls_per_hour: 0,
          disposed_calls: 0,
          talktime: 0,
          total_calls: 0,
          total_hours: 0,
        }
      },
      table_second_total: {
        total: {
          adherence: 0,
          calls_per_hour: 0,
          disposed_calls: 0,
          talktime: 0,
          total_calls: 0,
          total_hours: 0,
        }
      },
      table_today_total: {
        total: {
          adherence: 0,
          calls_per_hour: 0,
          disposed_calls: 0,
          talktime: 0,
          total_calls: 0,
          total_hours: 0,
          target_time: 0,
        }
      },
    };
  },
  filters: {
    parse_decimal(value){
      return parseFloat(value).toFixed(2)
    },
    parse_int(value){
      return parseInt(value)
    },
    hours(value) {
      const seconds = value * 3600

      let hour = Math.floor(seconds / 3600);
      hour = (hour < 10)? '0' + hour : hour;
      let minute = Math.floor((seconds / 60) % 60);
      minute = (minute < 10)? '0' + minute : minute;
      let second = seconds % 60;
      second = (second < 10)? '0' + second : second;
      return hour + ':' + minute ;

      // return moment.utc().startOf('day').add(minutes, 'minutes').format('HH:mm')
    },
    hours_log(value) {
      return moment(value).format("HH:mm")
    },
    
  },
  created() {
    // this.date_position();
    this.scorecard_first_fortnight();
    this.scorecard_second_fortnight();
    this.scorecard_today();
  },
  mounted() {
    this.campaign_id = this.$store.getters["campaigns/GET_CAMPAIGNS_ID"]
  },
  computed: {
    Itemscampaigns() {
      return this.$store.getters["campaigns/GET_CAMPAIGNS"];
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    },
    DateDashboard() {
      return this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
    },
  },
  methods: {
    hours_export(value) {
      const seconds = value * 3600

      let hour = Math.floor(seconds / 3600);
      hour = (hour < 10)? '0' + hour : hour;
      let minute = Math.floor((seconds / 60) % 60);
      minute = (minute < 10)? '0' + minute : minute;
      let second = seconds % 60;
      second = (second < 10)? '0' + second : second;
      return hour + ':' + minute ;

    },
    current_day() {
      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"]
      const day_new = moment(dates.end)
        // .subtract(1, "days")
        .format('MMMM Do, YYYY');
        // .format('dddd, Do MMMM YYYY');

      return day_new;
    },
    first_fortnight() {
      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"]
      let month = moment(dates.end).format("MM");

      let day = moment().format("DD");
      let month2 = moment(dates.end).format("MM");
      let year = moment().format("YYYY");
  
      let day_1 = moment(`${year}-${month2}-01`).format("MMMM Do");
      let day_2 = moment(`${year}-${month2}-15`).format("Do, YYYY");

      return `${day_1} - ${day_2}`;
    },
    second_fortnight() {
      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"]
      let month = moment(dates.end).format("MM");

      let day = moment().format("DD");
      let month2 = moment(dates.end).format("MM");
      let year = moment().format("YYYY");

      let day_1;
      let day_2;

      if (day > 15) {
        day_1 = moment(`${year}-${month2}-16`).format("MMMM Do");
        day_2 = moment(`${year}-${month2}-16`)
          .endOf("month")
          .format("Do, YYYY");
      }else {
        day_1 = moment(`${year}-${month}-16`).format("MMMM Do");
        day_2 = moment(`${year}-${month}-16`)
            .endOf("month")
            .format("Do, YYYY");        
      }

      return `${day_1} - ${day_2}`;
    },
    date_position() {
      let day = moment().format("DD");

      if (day > 15) {
        this.second_fortnight_section = true
      }else {
        this.first_fortnight_section = false
      }
    },
    async scorecard_first_fortnight() {
      try {
        const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"]
        const month = moment(dates.end).format('MM')
 
        const request = {
          start: moment().format(month+"/01/YYYY"),
          end: moment().format(month+"/15/YYYY"),
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"]
        }
        const response = await this.$store.dispatch("report_3/INDEX", request);

        this.table_first_fortnight(response.data.data)
      } catch(e) {
        // statements
        console.log(e);
      }
    },
    async scorecard_second_fortnight() {
      try {
        const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"]
        let day = moment().format("DD");
        let month = moment(dates.end).format('MM')
        let month2 = moment(dates.end).format("MM");
        let year = moment().format("YYYY");

        let day_1;
        let day_2;

        if (day > 15) {
          day_1 = moment(`${year}-${month2}-16`).format("MM/DD/YYYY");
          day_2 = moment(`${year}-${month2}-16`)
            .endOf("month")
            .format("MM/DD/YYYY");
        }else {
          day_1 = moment(`${year}-${month}-16`).format("MM/DD/YYYY");
          day_2 = moment(`${year}-${month}-16`)
              .endOf("month")
              .format("MM/DD/YYYY");        
        }
 
        const request = {
          start: day_1,
          end: day_2,
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"]
        }
        const response = await this.$store.dispatch("report_3/INDEX", request);

        this.table_second_fortnight(response.data.data)
      } catch(e) {
        // statements
        console.log(e);
      }
    },
    async scorecard_today() {
      try {
        const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"]       
 
        const request = {
          start: moment(dates.end).format("MM/DD/YYYY"),
          end: moment(dates.end).format("MM/DD/YYYY"),
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"]
        }
        const response = await this.$store.dispatch("report_3/INDEX", request);

        this.table_today(response.data.data)
      } catch(e) {
        // statements
        console.log(e);
      }
    },
    table_first_fortnight(data_dates) {
      let array_agents = []

      for (let agents of Object.values(data_dates)) {
        for (let agent in agents) {
          array_agents.push({
            name: agent,
            ...agents[agent]
          })
        }
      }

      let total_agents = array_agents.reduce((accumulator, currentValue) => {

        // accumulator[currentValue.name] = (accumulator[currentValue.name]?.adherence) ? 
        //   {
        //     adherence: accumulator[currentValue.name].adherence + currentValue.adherence,
        //     calls_per_hour: accumulator[currentValue.name].calls_per_hour + currentValue.calls_per_hour
        //   }
        //   : currentValue

        const { adherence, calls_per_hour, disposed_calls, talktime, total_calls, total_hours, name} = currentValue;

        accumulator[currentValue.name] = {
            adherence: accumulator[currentValue.name]?.adherence + adherence || adherence,
            adherence1: accumulator[currentValue.name]?.adherence == adherence || adherence,
            calls_per_hour: accumulator[currentValue.name]?.calls_per_hour + calls_per_hour || calls_per_hour,
            disposed_calls: accumulator[currentValue.name]?.disposed_calls + disposed_calls || disposed_calls,
            talktime: accumulator[currentValue.name]?.talktime + talktime || talktime,
            total_calls: accumulator[currentValue.name]?.total_calls + total_calls || total_calls,
            total_hours: accumulator[currentValue.name]?.total_hours + total_hours || total_hours,
            session: accumulator[currentValue.name]?.session + 1 || 1,
            target_time: ((accumulator[currentValue.name]?.target_time / 8) + 1) * 8 || 8,
            name: accumulator[currentValue.name]?.name || name,
            total: 'total',
        }

        if(accumulator[currentValue.name].name == 'Ana Guadalupe Carvajal Morales') {
          console.log(accumulator[currentValue.name])
        }

        return accumulator
      }, {});

      

      

      let total_value = Object.values(total_agents).reduce((accumulator, currentValue) => {
        const { adherence, calls_per_hour, disposed_calls, talktime, total_calls, total_hours, session, target_time, total} = currentValue;

        accumulator[currentValue.total] = {
            adherence: accumulator[currentValue.total]?.adherence + adherence || adherence,
            calls_per_hour: accumulator[currentValue.total]?.calls_per_hour + calls_per_hour || calls_per_hour,
            disposed_calls: accumulator[currentValue.total]?.disposed_calls + disposed_calls || disposed_calls,
            talktime: accumulator[currentValue.total]?.talktime + talktime || talktime,
            total_calls: accumulator[currentValue.total]?.total_calls + total_calls || total_calls,
            total_hours: accumulator[currentValue.total]?.total_hours + total_hours || total_hours,
            session: accumulator[currentValue.total]?.session + session || session,
            target_time: accumulator[currentValue.total]?.target_time + target_time || target_time,
        }

        return accumulator
      }, {});


      this.table_first = total_agents

      this.table_first_total = total_value?.total ? total_value : this.table_first_total
    

    },

    table_second_fortnight(data_dates) {
      let array_agents = []

      for (let agents of Object.values(data_dates)) {
        for (let agent in agents) {
          array_agents.push({
            name: agent,
            ...agents[agent]
          })
        }
      }

      let total_agents = array_agents.reduce((accumulator, currentValue) => {

        // accumulator[currentValue.name] = (accumulator[currentValue.name]?.adherence) ? 
        //   {
        //     adherence: accumulator[currentValue.name].adherence + currentValue.adherence,
        //     calls_per_hour: accumulator[currentValue.name].calls_per_hour + currentValue.calls_per_hour
        //   }
        //   : currentValue

        const { adherence, calls_per_hour, disposed_calls, talktime, total_calls, total_hours, name} = currentValue;

        accumulator[currentValue.name] = {
            adherence: accumulator[currentValue.name]?.adherence + adherence || adherence,
            calls_per_hour: accumulator[currentValue.name]?.calls_per_hour + calls_per_hour || calls_per_hour,
            disposed_calls: accumulator[currentValue.name]?.disposed_calls + disposed_calls || disposed_calls,
            talktime: accumulator[currentValue.name]?.talktime + talktime || talktime,
            total_calls: accumulator[currentValue.name]?.total_calls + total_calls || total_calls,
            total_hours: accumulator[currentValue.name]?.total_hours + total_hours || total_hours,
            session: accumulator[currentValue.name]?.session + 1 || 1,
            target_time: ((accumulator[currentValue.name]?.target_time / 8) + 1) * 8 || 8,
            name: accumulator[currentValue.name]?.name || name,
            total: 'total',            
        }

        return accumulator
      }, {});

      let total_value = Object.values(total_agents).reduce((accumulator, currentValue) => {
        const { adherence, calls_per_hour, disposed_calls, talktime, total_calls, total_hours, session, target_time, total} = currentValue;

        accumulator[currentValue.total] = {
            adherence: accumulator[currentValue.total]?.adherence + adherence || adherence,
            calls_per_hour: accumulator[currentValue.total]?.calls_per_hour + calls_per_hour || calls_per_hour,
            disposed_calls: accumulator[currentValue.total]?.disposed_calls + disposed_calls || disposed_calls,
            talktime: accumulator[currentValue.total]?.talktime + talktime || talktime,
            total_calls: accumulator[currentValue.total]?.total_calls + total_calls || total_calls,
            total_hours: accumulator[currentValue.total]?.total_hours + total_hours || total_hours,
            session: accumulator[currentValue.total]?.session + session || session,
            target_time: accumulator[currentValue.total]?.target_time + target_time || target_time,
        }

        return accumulator
      }, {});

      console.log('table_second',total_value)

      this.table_second = total_agents

      this.table_second_total = total_value?.total ? total_value : this.table_second_total
    

    },

    table_today(data_dates) {
      let array_agents = []

      for (let agents of Object.values(data_dates)) {
        for (let agent in agents) {
          array_agents.push({
            name: agent,
            ...agents[agent],
            total: 'total'
          })
        }
      }

      let total_value = Object.values(array_agents).reduce((accumulator, currentValue) => {
        const { adherence, calls_per_hour, disposed_calls, talktime, total_calls, target_time, total_hours, total} = currentValue;

        accumulator[currentValue.total] = {
            adherence: accumulator[currentValue.total]?.adherence + adherence || adherence,
            calls_per_hour: accumulator[currentValue.total]?.calls_per_hour + calls_per_hour || calls_per_hour,
            disposed_calls: accumulator[currentValue.total]?.disposed_calls + disposed_calls || disposed_calls,
            talktime: accumulator[currentValue.total]?.talktime + talktime || talktime,
            total_calls: accumulator[currentValue.total]?.total_calls + total_calls || total_calls,
            total_hours: accumulator[currentValue.total]?.total_hours + total_hours || total_hours,
            target_time: accumulator[currentValue.total]?.target_time + 8 || 8,
            
        }

        return accumulator
      }, {});


      console.log('array_agents', array_agents)

      this.table_principal = array_agents

      this.table_today_total = total_value?.total ? total_value : this.table_today_total
      
    },

    adherence_session(value) {

      if(value?.adherence) {
        let total = ((value.total_hours * 100) / value.target_time)
        return parseInt(total)
      } else{
        return 0
        
      }
    },

    jsexport() {
      // URL Falsa para descargar
      let csvContent = "data:text/csv;charset=utf-8,";

      // formatos
      const delimiter = ",";
      const fixedDecimal = 2;

      // cabecera
      let csvHeader = [[this.NameCampaigns.name + "- Scorecard " + this.current_day()]];

      ["Log In", "Log Out", "Session Time", 
        "Adherence", "Dispo'ed Calls", 
        "Calls per Hour", "Talktime"].forEach((index, key) => {
          csvHeader[0].push(index);
      });

      // cuerpo
      let csvBody = [];
      let name = "";

      Object.values(this.table_principal).forEach((element, key) => {
        // columna padre
        const dispFatherRowArray = [];

        // let hours = this.hours_export(element.total_hours)

        // console.log('hours', hours)

        dispFatherRowArray.push(element.name)
        dispFatherRowArray.push(moment(element.login).format('HH:mm'))
        dispFatherRowArray.push(moment(element.logout).format('HH:mm'))
        dispFatherRowArray.push(this.hours_export(element.total_hours))
        dispFatherRowArray.push(parseFloat(element.adherence).toFixed(2))
        dispFatherRowArray.push(element.disposed_calls)
        dispFatherRowArray.push(parseFloat(element.calls_per_hour).toFixed(2))
        dispFatherRowArray.push(this.hours_export(element.talktime))
        // inserta columna padre
        // if (key > 0) {
          csvBody.push(dispFatherRowArray);
        // }
      });

      // añadir resultados url falsa

      csvHeader.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      csvBody.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      csvHeader[0]  = [];
      csvHeader.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });

      // primera *****************************************

      // cabecera
      csvHeader = [[this.NameCampaigns.name + "- Scorecard " + this.first_fortnight()]];

      ["Sessions", "Target Time", "Session Time", 
        "Adherence", "Dispo'ed Calls", 
        "Calls per Hour", "Talktime"].forEach((index, key) => {
          csvHeader[0].push(index);
      });

      // cuerpo
      csvBody = [];
      name = "";

      Object.values(this.table_first).forEach((element, key) => {
        // columna padre
        const dispFatherRowArray = [];

        dispFatherRowArray.push(element.name)
        dispFatherRowArray.push(element.session)
        dispFatherRowArray.push(element.target_time)
        dispFatherRowArray.push(this.hours_export(element.total_hours))
        dispFatherRowArray.push(this.adherence_session(element))
        dispFatherRowArray.push(element.disposed_calls)
        dispFatherRowArray.push(parseFloat(element.calls_per_hour).toFixed(2))
        dispFatherRowArray.push(this.hours_export(element.talktime))
        // inserta columna padre
        // if (key > 0) {
          csvBody.push(dispFatherRowArray);
        // }
      });

      // añadir resultados url falsa
      csvHeader.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      csvBody.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      csvHeader[0]  = [];
      csvHeader.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });

      // segunda ******************************************

      // cabecera
      csvHeader = [[this.NameCampaigns.name + "- Scorecard " + this.second_fortnight()]];

      ["Sessions", "Target Time", "Session Time", 
        "Adherence", "Dispo'ed Calls", 
        "Calls per Hour", "Talktime"].forEach((index, key) => {
          csvHeader[0].push(index);
      });

      // cuerpo
      csvBody = [];
      name = "";

      Object.values(this.table_second).forEach((element, key) => {
        // columna padre
        const dispFatherRowArray = [];

        dispFatherRowArray.push(element.name)
        dispFatherRowArray.push(element.session)
        dispFatherRowArray.push(element.target_time)
        dispFatherRowArray.push(this.hours_export(element.total_hours))
        dispFatherRowArray.push(this.adherence_session(element))
        dispFatherRowArray.push(element.disposed_calls)
        dispFatherRowArray.push(parseFloat(element.calls_per_hour).toFixed(2))
        dispFatherRowArray.push(this.hours_export(element.talktime))
        // inserta columna padre
        // if (key > 0) {
          csvBody.push(dispFatherRowArray);
        // }
      });

      // añadir resultados url falsa
      csvHeader.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      csvBody.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });

      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"] 

      const nameCSV = `${
        this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"].name
      }-Scorecard-${moment(dates.end).format("YYYY-MM-DD")}.csv`;
      // generar elemento del dom para poner el enlace
      const encodedUri = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("download", nameCSV);
      document.body.appendChild(link); // Required for FF
      // darle click
      link.click();
    },


  }
};
</script>
<style>
.tr-color {
  background: #6cc1e6 !important;
  color: white !important;
  font-weight: 400;
}
.tam-header {
  /* min-width: 160px !important;
  max-width: 160px !important; */
  font-size: 1rem !important;
}
</style>