<template>
    <v-container fluid class="pt-0">
        <v-row class="pt-0">
            <v-col cols="12">
                <v-card color="transparent" flat>
                    <v-toolbar flat color="white" class="shadow-large round">
                        <v-toolbar-title class="text-accent">
                            {{
                                NameCampaigns.name == undefined
                                    ? "Select campaign"
                                    : NameCampaigns.name
                            }}
                            - Dashboard</v-toolbar-title
                        >
                        <!-- {{dates}} -->
                        <v-divider class="mx-4" inset vertical></v-divider>
                    </v-toolbar>
                    <v-toolbar
                        color="#104961"
                        class="elevation-0"
                        style="border-radius: 0px;"
                    >
                    </v-toolbar>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-card class="mx-auto" style="min-width: 290px; max-width: 290px">
                                <v-toolbar dense color="#25A8E0" dark flat>
                                    <v-toolbar-title>Campaign</v-toolbar-title>
                                </v-toolbar>
                                <v-card-text>
                                    <v-select
                                        v-model="campaign_id"
                                        dense
                                        :items="Itemscampaigns"
                                        item-text="name"
                                        item-value="id"
                                        label="Campaign"
                                        outlined
                                        class="mt-4"
                                        @change="CampaignsId"
                                    >
                                    </v-select>
                                </v-card-text>
                            </v-card>
                            <!-- <v-col cols="12" sm="12" md="6" lg="6"> -->
                            <v-card
                                class="mx-auto text-center mt-3 elevation-0 round"
                                color="transparent"
                            >
                                <v-date-picker
                                    color="#25A8E0"
                                    v-model="dates"
                                    range
                                    class="round"
                                ></v-date-picker>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        outlined
                                        :loading="loadingValues"
                                        color="#25A8E0"
                                        dark
                                        @click="dateLayout()"
                                        width="280px"
                                        >Select</v-btn
                                    >
                                    <v-spacer></v-spacer>
                                </v-card-actions>
                            </v-card>
                            <!-- </v-col> -->
                        </v-col>
                        <v-col cols="12" sm="12" md="8">
                            <!-- <v-btn class="mx-2 mb-3" outlined :loading="loading" dark @click="getGraph" color="#E84D66">
                <v-icon>mdi-sync</v-icon>
              </v-btn> -->
                            <v-card v-if="status_graph == true && render" height="300" class="d-flex">
                              <v-progress-circular
                                  :size="70"
                                  :width="7"
                                  color="pink"
                                  indeterminate
                                  class="mx-auto my-auto"
                                ></v-progress-circular>
                            </v-card>   
                            <v-card v-if="status_graph == false && render">
                                <apexchart
                                    type="bar"
                                    height="300"
                                    :options="chartBar"
                                    :series="serieBar"
                                    @dataPointSelection="dataSelectionDelete"
                                ></apexchart>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
            <!-- <v-col cols="12" class="d-flex">
         <v-select
          v-model="campaign_id"
          dense
          :items="Itemscampaigns"
          item-text="name"
          item-value="id"
          label="Campaign"
          outlined
        ></v-select>
         <v-text-field
          v-model = "campaign_name"
          v-if = "campaign_id == 0"
          name="name"
          label="Campaign Name"
          outlined
          dense
          class="mx-3"
        ></v-text-field>
        <v-btn
          color="#25A8E0"
          dark
          v-if = "campaign_id == 0"
          @click="saveCampaign">
            Save
        </v-btn>
        <v-file-input
          prepend-icon
          v-model="files"
          chips
          outlined
          placeholder="Select CSV file"
          dense
          class="mx-3"
        ></v-file-input>
        <v-btn outlined color="#25A8E0" dark class="ml-5" @click="fileDoc">Load</v-btn>
      </v-col>
      <v-dialog v-model="loadingModal" persistent max-width="300px" transition="dialog-transition">
        <v-card color="#25A8E0" loading dark>
          <v-card-title>
            Loading ...
            <v-progress-linear indeterminate color="white" class="mb-3"></v-progress-linear>
          </v-card-title>
        </v-card>
      </v-dialog> -->
        </v-row>
        <!--  <v-row>
      <v-col cols="12">
        <v-btn class="mx-2 mb-3" outlined :loading="loading" dark @click="getGraph" color="#E84D66">
          <v-icon>mdi-sync</v-icon>
        </v-btn>
        <v-card v-if="render">
          <apexchart type="bar" height="300" :options="chartBar" :series="serieBar"></apexchart>
        </v-card>
      </v-col>
    </v-row> -->
    </v-container>
</template>
<script>
import VueApexCharts from "vue-apexcharts";
import Swal from "sweetalert2";
import moment from "moment";

export default {
    components: {
        apexchart: VueApexCharts
    },
    data() {
        return {
            status_graph: false,
            dates: [],
            loadingValues: false,
            loading: false,
            showAlert: false,
            comparison: [],
            loadingModal: false,
            campaign_id: 0,
            campaign_name: "",
            files: [],
            render: false,
            array_comparison_finally: [],
            chartBar: {
                chart: {
                    toolbar: {
                        show: false
                    },
                    zoom: {
                        enabled: false
                    }
                },
                plotOptions: {
                    bar: {
                        columnWidth: "80%"
                    }
                },
                dataLabels: {
                    enabled: false
                },
                yaxis: {
                    show: false
                },
                xaxis: {
                    categories: [
                        "01-01",
                        "02-01",
                        "03-01",
                        "04-01",
                        "05-01",
                        "06-01",
                        "01-01",
                        "02-01",
                        "03-01",
                        "04-01",
                        "05-01",
                        "06-01",
                        "01-01",
                        "02-01",
                        "03-01"
                    ],
                    labels: {
                        rotate: -60,
                        style: {
                            fontSize: "12px"
                        }
                    },
                    tickPlacement: "on"
                },
                colors: ["#E63E59"],
                fill: {
                    colors: ["#fff"]
                },
                stroke: {
                    show: true,
                    curve: "straight",
                    lineCap: "square",
                    colors: ["#E63E59"],
                    width: 3,
                    dashArray: 0
                },
                grid: {
                    show: true,
                    borderColor: "#90A4AE",
                    strokeDashArray: 0,
                    position: "back",
                    xaxis: {
                        lines: {
                            show: false
                        }
                    },
                    yaxis: {
                        lines: {
                            show: false
                        }
                    }
                }
            },
            serieBar: [
                {
                    name: "calls",
                    data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                }
            ]
        };
    },

    mounted() {
        this.render = true;
        this.campaign_id = this.$store.getters["campaigns/GET_CAMPAIGNS_ID"];
        let dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
        if (dates?.ini) {
            this.dates = [dates.ini, dates.end];
            this.dateLayout();
            
        }
    },
    created() {
        if (this.$store.getters["campaigns/GET_DATE_DASHBOARD"]?.ini) {
            this.GetCampaign();
            // this.DateRangeGraph();
            // this.dateLayout();
        } else {
            this.dateRange();
        }
    },
    computed: {
        Itemscampaigns() {
            return this.$store.getters["campaigns/GET_CAMPAIGNS"];
        },
        NameCampaigns() {
            return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
        },
        DateDashboard() {
            return this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
        }
    },
    methods: {
        dataSelectionDelete(e, chartContext, config) {
            const role = localStorage.getItem('role')

            console.log(role,'roleeeeeeeee')

            if(role == 1)
            {
                const position_date = this.array_comparison_finally[config.dataPointIndex];

                Swal.fire({
                    title: "Delete all information for",
                    html: `${position_date} <br> Are you really sure?`,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#4CAF50",
                    cancelButtonColor: "#E63E59",
                    confirmButtonText: "Yes, delete it!"
                }).then(async result => {
                    if (result.value) {
                        try {
                            const request = {
                                date: position_date,
                                id: this.campaign_id
                            }
                            const response = await this.$store.dispatch(
                            "campaigns/DELETE_DATE_REGISTER",
                            request
                            );
                            this.dateLayout();
                            // console.log(response);
                            Swal.fire({
                            icon: "success",
                            title: "Success!",
                            text: "The data has been deleted.",
                            type: "success",
                            confirmButtonColor: "#25A8E0"
                            });
                        } catch (error) {
                            console.log(error.response);
                        }
                    }
                });
            }            
        },
        async fileDoc() {
            try {
                let idC = localStorage.getItem("campaign_id");
                if (this.files.length === 0) {
                    Swal.fire({
                        icon: "warning",
                        title: "Please select a file",
                        text: "",
                        confirmButtonColor: "#25A8E0"
                    });
                } else if (idC == null) {
                    Swal.fire({
                        icon: "warning",
                        title: "Please select a campaign",
                        text: "",
                        confirmButtonColor: "#25A8E0"
                    });
                } else {
                    Swal.fire({
                        title: "Are you sure you want to do this?",
                        text: "This action cannot be undone",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#EC687D",
                        cancelButtonColor: "#25A8E0",
                        confirmButtonText: "Agree"
                    }).then(async result => {
                        if (result.value) {
                            this.loadingModal = true;
                            let id = localStorage.getItem("campaign_id");
                            let formData = new FormData();
                            formData.append("csv", this.files);
                            formData.append("campaign_id", id);
                            this.$store
                                .dispatch("report_1/ADD_FILE", formData)
                                .then(response => {
                                    let id = localStorage.getItem(
                                        "campaign_id"
                                    );
                                    this.campaign_id = id;
                                    this.files = [];
                                    this.loadingModal = false;
                                    this.graph();
                                    Swal.fire({
                                        icon: "success",
                                        title: "File uploaded successfully",
                                        text: "",
                                        type: "success",
                                        confirmButtonColor: "#25A8E0"
                                    });
                                })
                                .catch(e => {
                                    this.loadingModal = false;
                                    let message =
                                        "The format of the uploaded file does not belong to the dialing platform associated with the campaign";
                                    Swal.fire({
                                        icon: "error",
                                        title: "Error!",
                                        html: message,
                                        type: "error",
                                        customClass: {
                                            content: "text-xs-left px-3"
                                        },
                                        confirmButtonText: "Ok",
                                        confirmButtonColor: "#25A8E0"
                                    });
                                });
                        }
                    });
                }
            } catch (e) {
                this.loadingModal = false;
                Swal.fire({
                    icon: "error",
                    title: "Error!",
                    html: e.response.data.message,
                    type: "error",
                    customClass: {
                        content: "text-xs-left px-3"
                    },
                    confirmButtonText: "Ok",
                    confirmButtonColor: "#25A8E0"
                });
            }
        },
        async GetCampaign() {
            try {
                await this.$store.dispatch("campaigns/INDEX");
            } catch (error) {
                console.log(error);
            }
        },
        DateRangeGraph() {
            this.status_graph = true
            const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];

            let ini = moment(dates.ini);
            // .subtract(15, "days")
            // .format("DD");
            let end_date = moment(dates.end);
            let date = moment(dates.ini).subtract(1, "day");
            // .subtract(15, "days")
            // .format("YYYY-MM-DD");
            let day_1;

            let array_categories = [];
            let array_comparison = [];
            let array_serie_date = [];
            let serieBar = [];
            let i = 0;
            let diff_date = end_date.diff(ini, "days");

            if (diff_date > 30) {
                Swal.fire({
                    icon: "error",
                    title: "The range must not be greater than 30 days",
                    text: "",
                    confirmButtonColor: "#25A8E0"
                });
                return;
            }

            do {
                // if (i == 0) {
                //     date = moment(date).format("YYYY-MM-DD");
                // } else {
                date = moment(date)
                    .add(1, "days")
                    .format("YYYY-MM-DD");
                // }

                day_1 = moment(date).format("MMM Do");
                array_categories.push(day_1);
                array_comparison.push(moment(date).format("DD/MM/YYYY"));
                array_serie_date.push(moment(date).format("MM/DD/YYYY"));

                serieBar.push(0);
                i++;
            } while (i <= diff_date);

            this.array_comparison_finally = array_serie_date

            this.barArea(array_categories, serieBar);

            // this.chartBar.xaxis.categories = array_categories;
            this.comparison = array_comparison;

            this.graph();
        },
        barArea(array_categories, diff_date) {
            this.chartBar = {
                chart: {
                    events: {
                        dataPointSelection: (e, chart, opts) => {
                            // you can call Vue methods now as "this" will point to the Vue instance when you use ES6 arrow function
                            this.VueDemoMethod();
                        }
                    },
                    toolbar: {
                        show: false
                    },
                    zoom: {
                        enabled: false
                    }
                },
                plotOptions: {
                    bar: {
                        columnWidth: "80%"
                    }
                },
                dataLabels: {
                    enabled: false
                },
                yaxis: {
                    show: false
                },
                xaxis: {
                    categories: array_categories,
                    labels: {
                        rotate: -60,
                        style: {
                            fontSize: "12px"
                        }
                    },
                    tickPlacement: "on"
                },
                colors: ["#E63E59"],
                fill: {
                    colors: ["#fff"]
                },
                stroke: {
                    show: true,
                    curve: "straight",
                    lineCap: "square",
                    colors: ["#E63E59"],
                    width: 3,
                    dashArray: 0
                },
                grid: {
                    show: true,
                    borderColor: "#90A4AE",
                    strokeDashArray: 0,
                    position: "back",
                    xaxis: {
                        lines: {
                            show: false
                        }
                    },
                    yaxis: {
                        lines: {
                            show: false
                        }
                    }
                }
            };

            this.serieBar = [
                {
                    name: "calls",
                    data: diff_date
                }
            ];
        },
        async graph() {
            try {
                const dates = this.$store.getters[
                    "campaigns/GET_DATE_DASHBOARD"
                ];

                this.loading = true;
                const request = {
                    ini: moment(dates.ini).format("MM/DD/YYYY"),
                    end: moment(dates.end).format("MM/DD/YYYY"),
                    campaign_id: this.campaign_id
                };

                const response = await this.$store.dispatch(
                    "report_1/GRAPH",
                    request
                );
                this.loading = false;
                if (response !== null) {
                    this.loading = false;
                    let date_log = response.data;
                    let array_calls = [];
                    let date_total = [];

                    for (const [key, value] of Object.entries(date_log)) {
                        let data = {
                            date: key,
                            calls: value.calls_log
                        };
                        date_total.push(data);
                    }

                    for (let iterator of this.comparison) {
                        let count = date_total.filter(
                            element => element.date === iterator
                        );
                        if (count.length === 0) {
                            array_calls.push(0);
                        } else {
                            array_calls.push(count[0].calls);
                        }
                    }

                    this.serieBar = [
                        {
                            name: "calls",
                            data: array_calls
                        }
                    ];

                    this.status_graph = false

                } else {
                    this.loading = false;
                    this.showAlert = true;
                }
            } catch (e) {
                // statements
                this.loading = false;
                console.log(e);
            }
        },
        async CampaignsId() {
            try {
                let campaigns = this.Itemscampaigns.find(element => {
                    return element.id == this.campaign_id;
                });
                const request = {
                    campaign_id: this.campaign_id
                };
                await this.$store.commit("campaigns/SET_CAMPAIGNS_ID", request);
                await this.$store.commit(
                    "campaigns/SET_SELECTED_CAMPAIGN",
                    campaigns
                );
                this.get_agents();
            } catch (error) {
                console.log(error);
            }
        },
        async get_agents() {
            try {
                const request = {
                    campaign_id: this.$store.getters[
                        "campaigns/GET_CAMPAIGNS_ID"
                    ]
                };
                const response = await this.$store.dispatch(
                    "report_1/GET_AGENTS",
                    request
                );
            } catch (error) {
                console.log(error, "ERROR ARCHIVO");
            }
        },
        async dateLayout() {
            try {
                this.loadingValues = true;

                let ini = "";
                let end = "";
                if (this.dates[0] > this.dates[1]) {
                    ini = this.dates[1];
                    end = this.dates[0];
                } else {
                    ini = this.dates[0];
                    end = this.dates[1];
                }
                const request = {
                    ini: ini,
                    end: end
                };

                await this.$store.commit(
                    "campaigns/SET_DATE_DASHBOARD",
                    request
                );
                // const response = await this.$store.dispatch(
                //   "campaigns/GET_FILE",
                //   request
                // );

                this.loadingValues = false;
                // let date_header = this.table_headers_1.find(element => element.name == data.name)
                // if (Object.keys(response.data).length > 0) {
                //   this.table_headers_1 = [
                //     {
                //       name: "",
                //       month1: "00-00-0000",
                //       month2: "00-00-0000"
                //     }
                //   ];

                //   // this.status_table = true;
                //   // this.selectedAgent = this.ItemsAgents;
                //   // this.agentAdd(this.selectedAgent);
                //   // this.addRange();
                // }
                // this.total();

                this.DateRangeGraph();
            } catch (error) {
                this.loadingValues = false;
                // console.log(error, "ERROR ARCHIVO");
            }
        },
        dateRange() {
            let day = moment().format("DD");
            let month = moment()
                .subtract(1, "months")
                .format("MM");
            let month2 = moment().format("MM");
            let year = moment().format("YYYY");
            let day_1;
            let day_2;

            if (day >= 2 && day <= 15) {
                day_1 = moment(`${year}-${month2}-01`).format("YYYY-MM-DD");
                day_2 = moment(`${year}-${month2}-${day}`).format("YYYY-MM-DD");
                this.dates = [day_1, day_2];
            } else if (day >= 17) {
                day_1 = moment(`${year}-${month2}-16`).format("YYYY-MM-DD");
                day_2 = moment(`${year}-${month2}-${day}`).format("YYYY-MM-DD");
                this.dates = [day_1, day_2];
            } else if (day == 1) {
                day_1 = moment(`${year}-${month}-16`).format("YYYY-MM-DD");
                day_2 = moment(`${year}-${month}-16`)
                    .endOf("month")
                    .format("YYYY-MM-DD");
                this.dates = [day_1, day_2];
            } else if (day == 16) {
                day_1 = moment(`${year}-${month2}-01`).format("YYYY-MM-DD");
                day_2 = moment(`${year}-${month2}-15`).format("YYYY-MM-DD");
                this.dates = [day_1, day_2];
            }

            this.dateLayout();
        }
    }
};
</script>
<style>
.apexcharts-menu-item.exportSVG {
    display: none;
}
</style>
