<template>
  <v-navigation-drawer v-model="Drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
    <v-list dense>
      <template v-for="item in items">
        <v-list-item
          v-if="item.permission_role.includes(parseInt(role)) && GET_PERMISSIONS.includes(item.permission) || GetPermissionsAdmin"
          :key="item.text"
          v-on:click="router(item.href)"
          link
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="mx-4" v-if="item.text == 'Users'">
          <span class="grey--text text--darken-1">
            <small>{{ UserName }}</small>
          </span>
          <div class="px-4" style="border: 1px solid grey; height: 53px; border-radius: 5px">
            <span
              class="grey--text text--darken-1"
              v-if="NameCampaigns.name !== '' && DateDashboard !== ''"
            >
              <span class="text-accent" style="font-size: 1em">{{ NameCampaigns.name }}</span>
              Campaign
              <br />
              <span class="text-accent" style="font-size: 1em">{{ formatDateDashboard() }}</span>
            </span>
            <span class="grey--text text--darken-1" v-else>Select campaign</span>
            <!-- <v-select
              v-model="campaign_id"
              dense
              :items="Itemscampaigns"
              label="Campaign"
              outlined
              class="mt-4"
              @change="CampaignsId"
            >
              <template v-slot:selection="{ item, index }">
                <span v-if="index === 0" class="customColor">{{ item.name }}</span>
              </template>
              <template v-slot:item="{ item }">{{ item.name }}</template>
            </v-select>-->
            <!-- {{NameCampaigns.name}} -->
          </div>
        </div>
      </template>
    </v-list>
    <template v-slot:append>
      <div class="pa-2">
        <v-btn outlined dark color="#E63E59" block @click="logout">Logout</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      campaign_id: "",
      permission: [],
      role: "",
      drawer: null,
      items: [
        {
          icon: "mdi-home",
          text: "Dashboard",
          href: "layout1",
          permission_role: [1, 2, 3],
          permission: 0,
          permission_admin: true
        },
        {
          icon: "mdi-bookshelf",
          text: "Audit Report",
          href: "audit",
          permission_role: [1, 2, 3],
          permission: 23,
        },
        {
          icon: "mdi-briefcase-check",
          text: "Campaigns",
          href: "campaigns",
          permission_role: [1],
          permission: 1,
          permission_admin: true
        },
        {
          icon: "mdi-account-group",
          text: "Users",
          href: "user",
          permission_role: [1, 2],
          permission: 2,
          permission_admin: true
        },
        {
          icon: "mdi-upload",
          text: "Upload Call Log",
          href: "upload_call_log",
          permission_role: [1, 2, 3],
          permission: 16,
          permission_admin: true
        },
        {
          icon: "mdi-face-agent",
          text: "Agents",
          href: "agents",
          permission_role: [1, 2, 3],
          permission: 17,
        },
        {
          icon: "mdi-clipboard-text-play",
          text: "Dispositions",
          href: "dispositions",
          permission_role: [1, 2, 3],
          permission: 18,
        },
        {
          icon: "mdi-calendar-range",
          text: "Agent Hours",
          href: "report_1_d",
          permission_role: [1, 2, 3],
          permission: 19,
        },
        {
          icon: "mdi-calendar-clock",
          text: "Agent Hours - Custom",
          href: "report_1",
          permission_role: [1, 2, 3],
          permission: 20,
        },
        {
          icon: "mdi-file-chart",
          text: "Daily Activity",
          href: "report_2",
          permission_role: [1, 2, 3],
          permission: 21,
        },
        {
          icon: "mdi-bullseye-arrow",
          text: "Scorecard",
          href: "scorecard",
          permission_role: [1, 2, 3],
          permission: 22,
        },
        {
          icon: "mdi-file-phone",
          text: "Call Log",
          href: "call_log",
          permission_role: [1, 2, 3],
          permission: 23,
        },
        
        // {
        //   icon: 'mdi-chevron-up',
        //   'icon-alt': 'mdi-chevron-down',
        //   text: 'Reports',
        //   model: false,
        //   children: [
        //     { icon: 'mdi-tag-plus', text: 'Report #1', href: "report_1" },
        //   ],
        // },
      ],
      mini: true,
    };
  },
  mounted() {
    this.role = localStorage.getItem("role");
    this.permission = localStorage.getItem("permission_id");
  },
  computed: {
    Drawer: {
      get() {
        let drawer = this.$store.getters["layout/DRAWER_VALUE"];
        return drawer === null ? true : drawer;
      },
      set(val) {
        let drawer = this.$store.getters["layout/DRAWER_VALUE"];
        this.$store.commit("layout/SET_DRAWER", val);
      },
    },
    Itemscampaigns() {
      const campaings = this.$store.getters["campaigns/GET_CAMPAIGNS"];
      return campaings;
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    },
    DateDashboard() {
      return this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
    },
    UserName() {
      return this.$store.getters["auth/USER_NAME"];
    },
    GET_PERMISSIONS() {
      return this.$store.getters["auth/GET_USER_PERMISSIONS"];
    },
    GetPermissionsAdmin() {
      return this.$store.getters["auth/GET_PERMISSIONS_ADMIN"];
    },
  },
  created() {
    this.GetCampaign();
  },
  methods: {
    router(route) {
      this.$router.push({ name: route }).catch((err) => {});
    },
    async logout() {
      const response = await this.$store.dispatch("auth/logout");
      if (response.status == 200) {
        localStorage.removeItem('auth_permission');
        localStorage.removeItem('date_general');
        localStorage.removeItem('id');
        localStorage.removeItem('role');
        localStorage.removeItem('selectCampaign');
        localStorage.removeItem('token');
        localStorage.removeItem('user_name');
        this.$router.push({ name: "login" });
      }
    },
    async GetCampaign() {
      try {
        const response = await this.$store.dispatch("campaigns/INDEX");
      } catch (error) {
        console.log(error);
      }
    },
    async CampaignsId() {
      try {
        const request = {
          campaign_id: this.campaign_id.id,
        };
        await this.$store.commit("campaigns/SET_CAMPAIGNS_ID", request);
        await this.$store.commit(
          "campaigns/SET_SELECTED_CAMPAIGN",
          this.campaign_id
        );
        this.get_agents();
      } catch (error) {
        console.log(error);
      }
    },
    async get_agents() {
      try {
        const request = {
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
        };
        const response = await this.$store.dispatch(
          "report_1/GET_AGENTS",
          request
        );
      } catch (error) {
        console.log(error, "ERROR ARCHIVO");
      }
    },
    protection(value) {
      // console.log(value)
      for (const iterator of value) {
        // console.log("11", iterator);
      }
      return false;
    },
    formatDateDashboard() {
      if (this.DateDashboard !== undefined) {
        let name_month_date = "";

        let day_ini = moment(this.DateDashboard.ini).format("DD");
        let day_end = moment(this.DateDashboard.end).format("DD");

        let month_ini = moment(this.DateDashboard.ini).format("MM");
        let month_end = moment(this.DateDashboard.end).format("MM");

        if (month_ini == month_end) {
          name_month_date = moment(this.DateDashboard.end).format("MMMM");
        }

        name_month_date = `${name_month_date} ${day_ini} - ${day_end}, ${moment(
          this.DateDashboard.end
        ).format("YYYY")}`;
        return name_month_date;
      }

      return "-";
    },
  },
};
</script>

<style>
/*.theme--light.v-list-item:hover:before {
    opacity: .3;
    background: #0d173b;
}*/
.mostaza--text {
  color: #d98f07 !important;
}
.customColor {
  color: #e63e59;
}
</style>
