<template>
  <v-app id="keep">
    <Drawer />
    <v-content style='background: #E7E6E6'>
      <Toolbar />
      <v-container fluid>
        <v-row>
          <v-col cols="12">
            <router-view />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Drawer from "./Drawer";
import Toolbar from "./Toolbar";
export default {
  props: {
    source: String
  },
  components: {
    Drawer,
    Toolbar
  },
  data: () => ({}),
  computed: {},
  methods: {}
};
</script>

<style>
</style>