<template>
  <v-container fluid grid-list-md>
    <!-- <v-app-bar 
      color="#0d173b" 
      app 
      dark 
      dense
      clipped-left>
      <v-icon @click="drawer" color="white">{{HandIcon}}</v-icon>
      <span class="title ml-3 mr-5">
        <span class="font-weight-light">Menu</span>
      </span>
      <div class="flex-grow-1"></div>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon dark v-on="on" @click="logout">
            <v-icon>mdi-logout-variant</v-icon>
          </v-btn>
        </template>
        <span>Logout</span>
      </v-tooltip>
    </v-app-bar> -->
    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="#25A8E0"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer" />
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <span class="hidden-sm-and-down">Errescuer</span>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        icon
        large
      >
        <v-avatar
          size="45px"
          item
        >
          <v-img
            src="../../../../images/Errescuer2018-solor-bco.png"
            alt="logo-layout"
          /></v-avatar>
      </v-btn>
    </v-app-bar>
  </v-container>
</template>

<script>
export default {
  computed: {
    HandIcon() {
      const value = this.$store.getters["layout/DRAWER_VALUE"];
      return value ? "mdi-toggle-switch-off" : "mdi-toggle-switch";
    }
  },
  methods: {
    drawer() {
      let value = this.$store.getters["layout/DRAWER_VALUE"];
      value = !value;
      this.$store.commit("layout/SET_DRAWER", value);
    },
  }
};
</script>

<style scoped>
.rounded-right { 
  border-bottom-right-radius: 15px !important
}
.rounded-left { 
  border-bottom-left-radius: 15px !important
}
</style>