<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="12" md="12" lg="12" class="py-0">
        <v-card class="elevation-0 py-0" color="transparent">
          <v-row>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-card class="mx-auto text-center elevation-0 round" color="transparent">
                <v-date-picker color="#25A8E0" v-model="dates" range></v-date-picker>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    outlined
                    :loading="loadingValues"
                    color="#25A8E0"
                    dark
                    @click="addRange()"
                    width="280px"
                  >
                    <v-icon>mdi-plus</v-icon>Add
                  </v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-col>
            <v-col cols="12" sm="12" md="6" lg="6" class="px-0">
              <v-card class="shadow-large round" v-if="showAgents">
                <v-data-table
                  v-model="selectedAgent"
                  :headers="headersAgent"
                  :items="ItemsAgents"
                  :single-select="singleSelect"
                  item-key="name"
                  :show-select="(selectA === false) ? true : false "
                  class="elevation-0 agentes"
                  hide-default-footer
                  disable-pagination
                >
                  <template v-slot:item.data-table-select="{ item, isSelected, select }">
                    <v-simple-checkbox
                      v-if="select_agent_comparison.includes(item)"
                      :value="isSelected"
                      @input="select($event)"
                      disabled
                    ></v-simple-checkbox>
                    <v-simple-checkbox v-else :value="isSelected" @input="select($event)"></v-simple-checkbox>
                  </template>
                  <!-- <template v-slot:item.hcc="{ item }">
                  <v-simple-checkbox v-model="item.hcc" disabled></v-simple-checkbox>
                  </template>-->
                  <template v-slot:item.name="{ item }">
                    <p v-if="item.active === true || item.active == 1">{{item.name}}</p>
                    <p v-else>* {{item.name}}</p>
                  </template>
                </v-data-table>
              </v-card>
              <v-card color="#104961" light v-else>
                <v-card-text>
                  <div style="color: white">Please select a date</div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" class="pr-0">
        <v-toolbar flat color="white" class="shadow-large round">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn absolute dark fab top right color="#E63E59" @click="jsexport" v-on="on">
                <v-icon>mdi-download</v-icon>
              </v-btn>
            </template>
            <span>Download</span>
          </v-tooltip>
          <v-toolbar-title
            class="text-accent"
          >{{ NameCampaigns.name == undefined ? 'Select campaign' : NameCampaigns.name }} - Agent Hours - Custom</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
        </v-toolbar>
        <v-card class="shadow-large round">
          <v-simple-table fixed-header height="33rem">
            <template v-slot:default>
              <thead>
                <tr class="head-color" style="white-space:nowrap">
                  <th
                    v-for="item in table_headers_1"
                    :key="item.name"
                    class="tam-header white--text"
                    style="background: #104961;"
                  >
                    {{item | date1}}
                    <br />
                    {{item | date2}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item,key) in table_1"
                  :key="item.name"
                  v-show="item.status === true"
                  :class="(item.name == 'Agent Hours') ? 'tr-color': 'p'"
                >
                  <td v-if="item.name !== 'Agent Billable Hours'">{{ agents_active(item.name) }}</td>
                  <td
                    v-show="table_headers_1.length > 1 && ((key2 + 1) <= (table_headers_1.length - 1)) && key!==0"
                    v-for="(sub_item,key2) in table_headers_1"
                    :key2="sub_item.name"
                    :class="(item['total_'+ (key2+1) + key] < 0) ? 'red--text' : 'p' "
                  >{{ item['total_'+ (key2+1) + key]}}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import moment from "moment";

export default {
  data: () => ({
    showAgents: false,
    loadingValues: false,
    selectA: false,
    name_campaigns: "",
    tam_st: 0,
    settings: [],
    dates: [],
    month: "",
    singleSelect: false,
    select_agent_comparison: [],
    selectedAgent: [],
    dense: false,
    fixedHeader: false,
    height: 300,
    singleSelect: false,
    selected: [],
    headersAgent: [
      { text: "", value: "action", class: "length_text head-color" },
      { text: "Agent", value: "name", class: "length_text head-color" }
      // { text: 'HCC ', value: 'hcc', class: 'length_text head-color' },
    ],
    table_1: [
      {
        name: "Agent Billable Hours",
        status: true
      },
      {
        name: "Operational Hours",
        status: true
      },
      {
        name: "Billable Hours",
        status: true
      },
      {
        name: "Target Hours",
        status: true
      },
      {
        name: "Reach",
        status: true
      },
      {
        name: "Agent Total",
        status: true
      },
      {
        name: "Agent Hours",
        status: true
      }
    ],
    table_headers_1: [
      {
        name: "",
        month1: "00-00-0000",
        month2: "00-00-0000"
      }
    ]
  }),
  filters: {
    date1(value) {
      let date1 = "";

      if (value.month1 !== "00-00-0000") {
        let name_year1 = moment(value.month1).format("MMM Do, YYYY");
        let name_year2 = moment(value.month2).format("MMM Do, YYYY");

        if (name_year1 === name_year2) {
          date1 = name_year1;
        } else {
          date1 = name_year1;
          // date1 = name_year1 name_year2
        }
      } else {
        date1 = value.name;
      }

      return date1;
    },
    date2(value) {
      let date2 = "";

      if (value.month1 !== "00-00-0000") {
        let name_year1 = moment(value.month1).format("MMM Do, YYYY");
        let name_year2 = moment(value.month2).format("MMM Do, YYYY");

        if (name_year1 !== name_year2) {
          date2 = name_year2;
        }
      }

      return date2;
    }
  },
  computed: {
    dateRangeText() {
      return this.dates.join(" - ");
    },
    ItemsAgents() {
      return this.$store.getters["report_1/GET_AGENTS"];
    },
    ItemsDateAgents() {
      return this.$store.getters["report_1/GET_DATE_AGENTS"];
    },
    Itemscampaigns() {
      return this.$store.getters["campaigns/GET_CAMPAIGNS"];
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    }
  },
  watch: {
    selectedAgent(item) {
      // console.log(item,'dato')

      let prueba;

      for (const iterator of item) {
        prueba = this.table_1.some(function(e, i) {
          return e.name === iterator.name;
        });
        // prueba = this.table_1.indexOf(iterator);

        if (prueba === false) {
          iterator.status = true;
          this.table_1.push(iterator);
          // console.log("agregando elemento primera vez");
        } else {
          iterator.status = true;
        }
      }

      // console.log(item,'kkk')
      // if (item.length > 0) {
      this.trueFalse(item);
      // }

      // console.log(this.table_1)
    }
  },
  created() {
    this.dateRange();
  },
  methods: {
    jsexport() {
      // URL Falsa para descargar
      let csvContent = "data:text/csv;charset=utf-8,";

      // formatos
      const delimiter = ",";
      const fixedDecimal = 2;

      // cabecera
      const csvHeader = [[this.NameCampaigns.name + "-Agent Hours Custom"]];

      this.table_headers_1.forEach((index, key) => {
        if (key !== 0) {
          csvHeader[0].push(index.name);
        }
      });
      console.log("00000");
      // cuerpo
      const csvBody = [];
      let name = "";

      this.table_1.forEach((element, key) => {
        // columna padre
        const dispFatherRowArray = [];

        if (key > 6) {
          name = element.active == false ? `* ${element.name}` : element.name;
        } else {
          name = element.name;
        }
        if (element.name !== "Agent Billable Hours") {
          dispFatherRowArray.push(name);
          dispFatherRowArray.push("");
        }

        this.table_headers_1.forEach((index, key2) => {
          if (element[`total_${key2 + 1}${key}`] == undefined) {
            dispFatherRowArray.push("0.00");
          } else {
            dispFatherRowArray.push(element[`total_${key2 + 1}${key}`]);
          }
        });

        dispFatherRowArray.pop();
        dispFatherRowArray.splice(1, 1);
        // inserta columna padre
        if (key > 0) {
          csvBody.push(dispFatherRowArray);
        }
      });

      // añadir resultados url falsa
      csvHeader.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      csvBody.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      const nameCSV = `${
        this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"].name
      }-Agent-Hours-Custom-${moment().format("YYYY-MM-DD")}.csv`;
      // generar elemento del dom para poner el enlace
      const encodedUri = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("download", nameCSV);
      document.body.appendChild(link); // Required for FF
      // darle click
      link.click();
    },
    async addRange() {
      this.showAgents = true;
      let data = {
        name: `${this.dates[0]} - ${this.dates[1]}`,
        month1: this.dates[0],
        month2: this.dates[1]
      };

      try {
        this.loadingValues = true;
        const request = {
          date1: moment(this.dates[0]).format("MM/DD/YYYY"),
          date2: moment(this.dates[1]).format("MM/DD/YYYY"),
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"]
        };
        const response = await this.$store.dispatch(
          "report_1/GET_FILE",
          request
        );
        this.loadingValues = false;
        let date_header = this.table_headers_1.find(
          element => element.name == data.name
        );
        if (Object.keys(response.data).length > 0 && date_header == undefined) {
          this.table_headers_1.push(data);
          this.select_agent_comparison = this.selectedAgent;
          // this.trueFalse(this.selectedAgent)
          // console.log('this.selectedAgent.length', this.selectedAgent.length)
          // console.log('this.ItemsAgents.length', this.ItemsAgents.length)
          if (this.selectedAgent.length === this.ItemsAgents.length) {
            this.total();
            this.selectA = true;
          }
        }
        // this.total();
      } catch (error) {
        this.loadingValues = false;
        console.log(error, "ERROR ARCHIVO");
      }
    },
    dateRange() {
      let day = moment().format("DD");
      let month = moment()
        .subtract(1, "months")
        .format("MM");
      let month2 = moment().format("MM");
      let year = moment().format("YYYY");
      let day_1;
      let day_2;
      if (day <= 15) {
        day_1 = moment(`${year}-${month}-16`).format("YYYY-MM-DD");
        day_2 = moment(`${year}-${month}-16`)
          .endOf("month")
          .format("YYYY-MM-DD");
        this.dates = [day_1, day_2];
      } else {
        day_1 = moment(`${year}-${month2}-01`).format("YYYY-MM-DD");
        day_2 = moment(`${year}-${month2}-15`).format("YYYY-MM-DD");
        this.dates = [day_1, day_2];
      }
    },
    total() {
      let num = this.table_headers_1.length - 1;
      let prueba;
      let date2;
      for (const [key, value] of Object.entries(this.table_1)) {
        // statement
        if (key == 0) {
          this.table_1[key]["total_" + num + key] = "Total";
        } else {
          let m = moment(new Date(2011, 2, 12, 0, 0, 0));
          let call_duration;
          let cont = 0;
          if (this.selectedAgent.length > 0 && key > 6) {
            for (const [key, iterator] of Object.entries(
              this.ItemsDateAgents
            )) {
              if (key == value.name) {
                call_duration = Object.values(iterator).reduce(
                  (accumulator, currentValue) => {
                    return accumulator + currentValue.total_hours;
                  },
                  0
                );
                cont = cont + parseFloat(call_duration);
              }
            }
            this.table_1[key]["total_" + num + key] = cont.toFixed(2);
          }
          // console.log(this.table_1,'tabla')
          else {
            switch (key) {
              case "1":
                this.table_1[key]["total_" + num + key] = this.addHours();
                break;
              case "2":
                this.table_1[key]["total_" + num + key] = this.addHours();
                break;
              case "3":
                this.table_1[key]["total_" + num + key] =
                  this.countAgentDay() * 8;
                break;
              case "4":
                let num_2 = this.table_1[2]["total_" + num + 2];
                let num_3 = this.table_1[3]["total_" + num + 3];
                let result = parseFloat(num_2) - parseFloat(num_3);
                this.table_1[key]["total_" + num + key] = result.toFixed(2);
                break;
              case "5":
                this.table_1[key]["total_" + num + key] = this.countAgentDay();
                break;
              case "6":
                this.table_1[key]["total_" + num + key] = this.table_1[2][
                  "total_" + num + 2
                ];
                break;

              default:
                this.table_1[key]["total_" + num + key] = 0;
                break;
            }
          }
        }
      }
    },
    addHours() {
      let call_duration;
      let cont = 0;
      for (const iterator of this.selectedAgent) {
        for (const [key, iterator2] of Object.entries(this.ItemsDateAgents)) {
          if (key == iterator.name) {
            call_duration = Object.values(iterator2).reduce(
              (accumulator, currentValue) => {
                return accumulator + currentValue.total_hours;
              },
              0
            );
            cont = cont + parseFloat(call_duration);
          }
        }
      }
      return cont.toFixed(2);
    },
    countAgentDay() {
      let call_duration;
      let cont = 0;
      let array_B = [];
      let arrayAgentDate = [];
      for (const iterator of this.selectedAgent) {
        for (const [name, iterator2] of Object.entries(this.ItemsDateAgents)) {
          for (const [key2, iterator3] of Object.entries(iterator2)) {
            if (name == iterator.name) {
              let array = Object.keys(iterator2);
              array_B.push(array.length);
            }
          }
        }
      }

      // arrayAgentDate.push(array_B.length);
      console.log("++++++", array_B);

      return array_B.length;
    },
    trueFalse(item) {
      // console.log('estoy en true y false')
      let prueba2;
      let num = -1;
      // if(item.length > 0)
      // {
      for (let [key, value] of Object.entries(this.table_1)) {
        num++;
        if (num > 6) {
          // console.log(num,'soy num 7')
          prueba2 = item.some(function(e, i) {
            return e.name === value.name;
          });
          // prueba2 = item.indexOf(value);
          // console.log(prueba2,'prueba2')

          if (prueba2 === false) {
            value.status = false;
            this.table_1.splice(num, 1, value);
          } else {
            value.status = true;
            this.table_1.splice(num, 1, value);
          }
        }
      }
      this.total();
      // }
    },
    prueba(value) {
      console.log("Valor de prueba", value);
    },
    agents_active(name) {
      let agent = this.ItemsAgents.filter(function(index) {
        return index.name === name;
      });

      // console.log('active',agent)
      if (agent.length === 0) {
        return name;
      } else if (agent[0].active == false) {
        return "* " + name;
      } else {
        return name;
      }
    }
  }
};
</script>
<style>
.length_text {
  font-size: 1rem !important;
  color: white !important;
}
.tam-header {
  /* min-width: 160px !important; */
  /* max-width: 160px !important; */
  font-size: 1rem !important;
}

.head-color {
  color: white !important;
}

.tr-color {
  background: #6cc1e6;
  color: white;
}
</style>