<template>
  <v-container fluid>
    <v-row>
      <!-- <v-col cols="12" sm="12" md="12" lg="12" class="py-0">
        <v-card class="elevation-0 py-0" color="transparent">
          <v-row>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-card class="mx-auto text-center elevation-0 round" color="transparent">
                <v-date-picker color="#25A8E0" v-model="dates" range class="round"></v-date-picker>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    outlined
                    :loading="loadingValues"
                    color="#25A8E0"
                    dark
                    @click="calendar_get()"
                    width="280px"
                  >Select</v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-col>
            <v-col cols="12" sm="12" md="6" lg="6" class="px-0">
              <v-card v-if="showAgents" class="shadow-large round">
                <v-data-table
                  v-model="selectedAgent"
                  :headers="headersAgent"
                  :items="ItemsAgents"
                  item-key="name"
                  class="elevation-0 agentes"
                  hide-default-footer
                  disable-pagination
                >
                  <template v-slot:item.data-table-select="{ item, isSelected, select }">
                    <v-simple-checkbox :value="isSelected" @input="select($event)" disabled></v-simple-checkbox>
                  </template>
                  <template v-slot:item.name="{ item }">
                    <p v-if="item.active === true || item.active == 1">{{item.name}}</p>
                    <p v-else>* {{item.name}}</p>
                  </template>
                </v-data-table>
              </v-card>
              <v-card color="#104961" light v-else>
                <v-card-text>
                  <div style="color: white">Please select a date</div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col> -->
      <v-col cols="12" class="pr-0">
        <v-toolbar flat color="white" class="shadow-large round">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn absolute dark fab top right color="#E63E59" @click="jsexport" v-on="on">
                <v-icon>mdi-download</v-icon>
              </v-btn>
            </template>
            <span>Download</span>
          </v-tooltip>
          <v-toolbar-title
            class="text-accent"
          >{{ NameCampaigns.name == undefined ? 'Select campaign' : NameCampaigns.name }} - Agent Hours</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
        </v-toolbar>
        <v-card class="shadow-large round">
          <v-simple-table fixed-header height="33rem">
            <template v-slot:default>
              <thead>
                <tr class="head-color" style="white-space:nowrap">
                  <th
                    v-for="item in table_headers_1"
                    :key="item.name"
                    :class="(item.name == '') ? 'headers-agent tam-header white--text header' : 'tam-header white--text'"
                    style="background: #104961;"
                  >
                    {{item | date1}}
                    <br />
                    {{item | date2}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item,key) in total1"
                  :key="item.name"
                  :class="(item.name == 'Agent Hours') ? 'tr-color': 'p'"
                >
                  <td v-if="item.name !== 'Agent Billable Hours'">{{ agents_active(item.name) }}</td>
                  <td
                    v-show="table_headers_1.length > 1 && ((key2 + 1) <= (table_headers_1.length - 1)) && key!==0"
                    v-for="(sub_item,key2) in table_headers_1"
                    :key2="sub_item.name"
                    :class="(item['total_'+ (key2+1) + key] < 0) ? 'red--text' : 'p' "
                  >
                    <v-chip class="ma-2" v-if="key2+1 == 1">{{ item['total_'+ (key2+1) + key]}}</v-chip>
                    <span v-else-if="(item['total_'+ (key2+1) + key] == 0)"></span>
                    <span v-else>{{ item['total_'+ (key2+1) + key]}}</span>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import moment from "moment";

export default {
  data: () => ({
    showAgents: false,
    loadingValues: false,
    status_table: false,
    settings: [],
    dates: [],
    month: "",
    singleSelect: false,
    selectedAgent: [],
    itemsMonth: [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ],
    dense: false,
    fixedHeader: false,
    height: 300,
    singleSelect: false,
    selected: [],
    headersAgent: [
      { text: "Agent", value: "name", class: "length_text head-color" }
      // { text: 'Active', value: 'active', class: 'length_text head-color'}
    ],
    table_1: [
      {
        name: "Agent Billable Hours"
      },
      {
        name: "Operational Hours"
      },
      {
        name: "Billable Hours"
      },
      {
        name: "Target Hours"
      },
      {
        name: "Reach"
      },
      {
        name: "Agent Total"
      },
      {
        name: "Agent Hours"
      }
    ],
    // itemsAgents: [
    //   {
    //     id: 1,
    //     name: 'Arthur Martinez'
    //   },
    //   {
    //     id: 2,
    //     name: 'Louis Smith'
    //   },
    //   {
    //     id: 3,
    //     name: 'Chris Wilson'
    //   },
    //   {
    //     id: 4,
    //     name: 'George Kaiser'
    //   },
    //   {
    //     id: 5,
    //     name: 'Jhon Doe'
    //   }
    // ],
    table_headers_1: [
      {
        name: "",
        month1: "00-00-0000",
        month2: "00-00-0000",
        class: 'headers-agent'
      }
    ]
  }),
  filters: {
    date1(value) {
      let date1 = "";

      if (value.month1 !== "00-00-0000") {
        let name_year1 = moment(value.month1).format("MMM Do, YYYY");
        let name_year2 = moment(value.month2).format("MMM Do, YYYY");

        if (name_year1 !== name_year2) {
          date1 = moment(value.month1).format("MMM Do -");
        } else {
          date1 = moment(value.month2).format("Do");
          // date1 = name_year1 name_year2
        }
      } else {
        date1 = value.name;
      }

      return date1;
    },
    date2(value) {
      let date2 = "";

      if (value.month1 !== "00-00-0000") {
        let name_year1 = moment(value.month1).format("MMM Do, YYYY");
        let name_year2 = moment(value.month2).format("MMM Do, YYYY");

        if (name_year1 !== name_year2) {
          date2 = moment(value.month2).format("Do, YYYY");
        }
      }

      return date2;
    }
  },
  async created() {
    // this.dateRange();
    this.calendar_get();
    this.get_agents();
  },
  computed: {
    dateRangeText() {
      return this.dates.join(" - ");
    },
    ItemsAgents() {
      return this.$store.getters["report_1/GET_AGENTS"];
    },
    ItemsDateAgents() {
      return this.$store.getters["report_1/GET_DATE_AGENTS"];
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    },
    total1() {
      let num = 0;
      // let prueba_table = [];

      for (const [key1, value1] of Object.entries(this.table_headers_1)) {
        num++;
        for (const [key, value] of Object.entries(this.table_1)) {
          if (key > 0 && num > 2) {
            let m = moment(new Date(2011, 2, 12, 0, 0, 0));
            let call_duration;
            let cont = 0;
            let pos = 0;
            let pos1 = 0;
            // let day;
            // let month;
            // let year;
            // let date;
            let day = moment(value1.month1).format("DD");
            let month = moment(value1.month1).format("MM");
            let year = moment(value1.month1).format("YYYY");
            let date = `${day}/${month}/${year}`;
            let num_1 = num - 1;
            if (this.selectedAgent.length > 0 && key > 6) {
              for (const [name, iterator] of Object.entries(
                this.ItemsDateAgents
              )) {
                if (name == value.name) {
                  for (const [key_2, iterator2] of Object.entries(iterator)) {
                    if (moment(value1.month1).format("DD/MM/YYYY") == key_2) {
                      pos1 = key;
                      pos = this.table_headers_1.findIndex(element => {
                        return (
                          moment(element.month1).format("DD/MM/YYYY") == key_2
                        );
                      });

                      call_duration = iterator2.total_hours;
                    }
                    this.table_1[pos1]["total_" + num_1 + key] = parseFloat(
                      call_duration
                    ).toFixed(2);
                  }
                }
              }
            } else {
              switch (key) {
                case "1":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == `${year} ${month} ${day}`;
                  });

                  this.table_1[key]["total_" + num_1 + key] = this.addHours1(
                    date
                  );

                  break;
                case "2":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == `${year} ${month} ${day}`;
                  });

                  this.table_1[key]["total_" + num_1 + key] = this.addHours1(
                    date
                  );

                  break;
                case "3":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == `${year} ${month} ${day}`;
                  });
                  // this.table_1[key]["total_"+num_1 +key] = this.selectedAgent.length * 8
                  this.table_1[key]["total_" + num_1 + key] =
                    this.countAgentDay1(date) * 8;

                  break;
                case "4":
                  let pos4 = 0;
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == `${year} ${month} ${day}`;
                  });
                  let num_2 = this.table_1[2]["total_" + num_1 + 2];
                  let num_3 = this.table_1[3]["total_" + num_1 + 3];
                  let result = parseFloat(num_2) - parseFloat(num_3);
                  this.table_1[key]["total_" + num_1 + key] = result.toFixed(2);

                  break;
                case "5":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == `${year} ${month} ${day}`;
                  });
                  // this.table_1[key]["total_"+num+key] = this.selectedAgent.length
                  this.table_1[key][
                    "total_" + num_1 + key
                  ] = this.countAgentDay1(date);

                  break;
                case "6":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == `${year} ${month} ${day}`;
                  });
                  this.table_1[key]["total_" + num_1 + key] = this.table_1[2][
                    "total_" + num_1 + 2
                  ];

                  break;
              }
            }
          } else if (key > 0 && num == 1) {
            let m = moment(new Date(2011, 2, 12, 0, 0, 0));
            let call_duration;
            let cont = 0;
            if (this.selectedAgent.length > 0 && key > 6) {
              for (const [key, iterator] of Object.entries(
                this.ItemsDateAgents
              )) {
                if (key == value.name) {
                  call_duration = Object.values(iterator).reduce(
                    (accumulator, currentValue) => {
                      return accumulator + currentValue.total_hours;
                    },
                    0
                  );
                  cont = cont + parseFloat(call_duration);
                }
              }
              this.table_1[key]["total_" + num + key] = cont.toFixed(2);
            } else {
              switch (key) {
                case "1":
                  this.table_1[key]["total_" + num + key] = this.addHours();
                  break;
                case "2":
                  this.table_1[key]["total_" + num + key] = this.addHours();
                  break;
                case "3":
                  this.table_1[key]["total_" + num + key] =
                    this.countAgentDay() * 8;
                  break;
                case "4":
                  let num_2 = this.table_1[2]["total_" + num + 2];
                  let num_3 = this.table_1[3]["total_" + num + 3];
                  let result = parseFloat(num_2) - parseFloat(num_3);
                  this.table_1[key]["total_" + num + key] = result.toFixed(2);
                  break;
                case "5":
                  this.table_1[key][
                    "total_" + num + key
                  ] = this.countAgentDay();
                  break;
                case "6":
                  this.table_1[key]["total_" + num + key] = this.table_1[2][
                    "total_" + num + 2
                  ];
                  break;

                default:
                  this.table_1[key]["total_" + num + key] = 0;
                  break;
              }
            }
          } else {
            let m = moment(new Date(2011, 2, 12, 0, 0, 0));
            let call_duration;
            let cont = 0;
            let pos = 0;
            let pos1 = 0;
            // let day;
            // let month;
            // let year;
            // let date;
            let day = moment(value1.month1).format("DD");
            let month = moment(value1.month1).format("MM");
            let year = moment(value1.month1).format("YYYY");
            let date = `${day}/${month}/${year}`;

            if (this.selectedAgent.length > 0 && key > 6) {
              for (const [name, iterator] of Object.entries(
                this.ItemsDateAgents
              )) {
                if (name == value.name) {
                  const headers = this.table_headers_1;
                  for (const [key_2, iterator2] of Object.entries(iterator)) {
                    let status = headers.some(function(e, i) {
                      return e.month1 === key_2;
                    });

                    if (status == true) {
                      pos1 = key;
                      pos = headers.findIndex(element => {
                        return element.month1 == key_2;
                      });

                      call_duration = iterator2.total_hours;
                    }
                    // console.log("pos", pos);

                    this.table_1[pos1]["total_" + pos + pos1] = call_duration;
                  }
                }
              }
              // cont = cont / 3600;
              // this.table_1[key]["total_"+num+key] = cont.toFixed(2)
            } else {
              switch (key) {
                case "1":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == date;
                  });

                  this.table_1[pos1]["total_" + pos + pos1] = this.addHours1(
                    date
                  );
                  break;
                case "2":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == date;
                  });

                  this.table_1[pos1]["total_" + pos + pos1] = this.addHours1(
                    date
                  );

                  break;
                case "3":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == date;
                  });

                  this.table_1[pos1]["total_" + pos + pos1] =
                    this.countAgentDay1(date) * 8;
                  break;
                case "4":
                  let pos4 = 0;
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == date;
                  });
                  let num_2 = this.table_1[2]["total_" + pos + 2];
                  let num_3 = this.table_1[3]["total_" + pos + 3];
                  let result = parseFloat(num_2) - parseFloat(num_3);
                  this.table_1[pos1]["total_" + pos + pos1] = result.toFixed(2);

                  break;
                case "5":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == date;
                  });
                  // this.table_1[pos1]["total_"+pos+pos1] = this.selectedAgent.length
                  this.table_1[pos1][
                    "total_" + pos + pos1
                  ] = this.countAgentDay1(date);

                  break;
                case "6":
                  pos1 = key;
                  pos = this.table_headers_1.findIndex(element => {
                    return element.month1 == date;
                  });
                  this.table_1[pos1]["total_" + pos + pos1] = this.table_1[2][
                    "total_" + pos + 2
                  ];

                  break;
              }
            }
          }
        }
      }

      // for (const [key, value] of Object.entries(this.table_1)) {

      // let prueba_table = this.table_1;
      return this.table_1;
    }
  },

  methods: {
    jsexport() {
      // URL Falsa para descargar
      let csvContent = "data:text/csv;charset=utf-8,";

      // formatos
      const delimiter = ",";
      const fixedDecimal = 2;

      // cabecera
      const csvHeader = [[this.NameCampaigns.name + "-Agent Hours"]];

      this.table_headers_1.forEach((index, key) => {
        if (key === 1) {
          csvHeader[0].push(`${index.month1} ~ ${index.month2}`);
        } else if (key > 1) {
          csvHeader[0].push(moment(index.month1).format("Do"));
        }
      });

      // cuerpo
      const csvBody = [];
      let name = "";

      this.table_1.forEach((element, key) => {
        // columna padre
        const dispFatherRowArray = [];

        if (key > 6) {
          name = element.active == false ? `* ${element.name}` : element.name;
        } else {
          name = element.name;
        }
        if (element.name !== "Agent Billable Hours") {
          dispFatherRowArray.push(name);
          dispFatherRowArray.push("");
        }

        this.table_headers_1.forEach((index, key2) => {
          if (key > 0) {
            if (element[`total_${key2 + 1}${key}`] == undefined) {
              dispFatherRowArray.push("0.00");
            } else {
              dispFatherRowArray.push(element[`total_${key2 + 1}${key}`]);
            }
          }
        });

        dispFatherRowArray.splice(1, 1);

        dispFatherRowArray.pop();
        // inserta columna padre
        if (key > 0) {
          csvBody.push(dispFatherRowArray);
        }
      });

      // añadir resultados url falsa
      csvHeader.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      csvBody.forEach(rowArray => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      const nameCSV = `${
        this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"].name
      }-Agent-Hours-${moment().format("YYYY-MM-DD")}.csv`;
      // generar elemento del dom para poner el enlace
      const encodedUri = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("download", nameCSV);
      document.body.appendChild(link); // Required for FF
      // darle click
      link.click();
    },
    async get_agents() {
      try {
        const request = {
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"]
        };
        const response = await this.$store.dispatch(
          "report_1/GET_AGENTS",
          request
        );
      } catch (error) {
        console.log(error, "ERROR ARCHIVO");
      }
    },
    async calendar_get() {
      this.showAgents = true;
      // console.log('this.dates[0]',this.dates[0])
      // console.log('this.dates[0]',this.$store.getters["campaigns/GET_DATE_DASHBOARD"].ini)


      // let data = {
      //   name: `${this.dates[0]} - ${this.dates[1]}`,
      //   month1: this.dates[0],
      //   month2: this.dates[1]
      // };

      // console.log('data',data)

      try {
        const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"]
        this.loadingValues = true;
        const request = {
          date1: moment(dates.ini).format("MM/DD/YYYY"),
          date2: moment(dates.end).format("MM/DD/YYYY"),
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"]
        };
        const response = await this.$store.dispatch(
          "report_1/GET_FILE",
          request
        );

        this.loadingValues = false;
        // let date_header = this.table_headers_1.find(element => element.name == data.name)
        if (Object.keys(response.data).length > 0) {
          this.table_headers_1 = [
            {
              name: "",
              month1: "00-00-0000",
              month2: "00-00-0000"
            }
          ];
          // this.table_1 = [
          //   {
          //     name: "Agent Billable Hours"
          //   },
          //   {
          //     name: "Operational Hours"
          //   },
          //   {
          //     name: "Billable Hours"
          //   },
          //   {
          //     name: "Target Hours"
          //   },
          //   {
          //     name: "Reach"
          //   },
          //   {
          //     name: "Agent Total"
          //   },
          //   {
          //     name: "Agent Hours"
          //   }
          // ];

          this.status_table = true;
          this.selectedAgent = this.ItemsAgents;
          this.agentAdd(this.selectedAgent);
          this.addRange();
        }
        // this.total();
      } catch (error) {
        this.loadingValues = false;
        // console.log(error, "ERROR ARCHIVO");
      }
    },
    addRange() {
      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"]
      // console.log(moment(this.dates[0]).add(1,'d').format('YYYY-MM-DD'),'llll')
      // console.log(moment(this.dates[0]).format('DD'),'llll')

      let ini = moment(dates.ini).format("DD");
      let end = moment(dates.end).format("DD");
      let data = {};
      let day = dates.ini;
      // if(moment().format('DD') <= 15){
      //   ini = 16
      //   end = moment(dates.end).endOf("month").format('DD')
      // }else {
      //   ini = 1
      //   end = 15

      // }
      for (var i = ini; i <= end; i++) {
        if (i === ini) {
          data = {
            month1: dates.ini,
            month2: dates.end
          };
          this.table_headers_1.push(data);
          this.createdTable();

          data = {
            month1: moment(day).format("MM/DD/YYYY"),
            month2: moment(day).format("MM/DD/YYYY")
          };
          this.table_headers_1.push(data);
          this.createdTable();
        } else {
          day = moment(day)
            .add(1, "d")
            .format("MM/DD/YYYY");
          data = {
            month1: day,
            month2: day
          };
          this.table_headers_1.push(data);
          this.createdTable();
        }
      }
      // console.log(this.table_1)
    },
    createdTable() {
      let num = this.table_headers_1.length - 1;
      for (const [key, value] of Object.entries(this.table_1)) {
        // statement
        if (key == 0) {
          this.table_1[key]["total_" + num + key] = "Total";
        } else {
          // this.table_1[key]["total_"+num+key] = this.table_headers_1.length -1
          let cont = 0;
          if (key == 3 || key == 5) {
            this.table_1[key]["total_" + num + key] = cont;
          } else {
            this.table_1[key]["total_" + num + key] = cont.toFixed(2);
          }
        }
      }
    },
    dateRange() {
      let day = moment().format("DD");
      let month = moment()
        .subtract(1, "months")
        .format("MM");
      let month2 = moment().format("MM");
      let year = moment().format("YYYY");
      let day_1;
      let day_2;

      if (day >= 2 && day <= 15) {
        day_1 = moment(`${year}-${month2}-01`).format("YYYY-MM-DD");
        day_2 = moment(`${year}-${month2}-${day}`).format("YYYY-MM-DD");
        this.dates = [day_1, day_2];
      } else if (day >= 17) {
        day_1 = moment(`${year}-${month2}-16`).format("YYYY-MM-DD");
        day_2 = moment(`${year}-${month2}-${day}`).format("YYYY-MM-DD");
        this.dates = [day_1, day_2];
      } else if (day == 1) {
        day_1 = moment(`${year}-${month}-16`).format("YYYY-MM-DD");
        day_2 = moment(`${year}-${month}-16`)
          .endOf("month")
          .format("YYYY-MM-DD");
        this.dates = [day_1, day_2];
      } else if (day == 16) {
        day_1 = moment(`${year}-${month2}-01`).format("YYYY-MM-DD");
        day_2 = moment(`${year}-${month2}-15`).format("YYYY-MM-DD");
        this.dates = [day_1, day_2];
      }
    },
    total() {
      let num = this.table_headers_1.length - 1;
      let prueba;
      let date2;
      for (const [key, value] of Object.entries(this.table_1)) {
        // statement
        if (key == 0) {
          this.table_1[key]["total_" + num + key] = "Total";
        }
      }
    },
    addHours() {
      let call_duration;
      let cont = 0;
      for (const iterator of this.selectedAgent) {
        for (const [key, iterator2] of Object.entries(this.ItemsDateAgents)) {
          if (key == iterator.name) {
            call_duration = Object.values(iterator2).reduce(
              (accumulator, currentValue) => {
                return accumulator + currentValue.total_hours;
              },
              0
            );
            cont = cont + parseFloat(call_duration);
          }
        }
      }
      return cont.toFixed(2);
    },
    countAgentDay() {
      let call_duration;
      let cont = 0;
      let array_B = [];
      let arrayAgentDate = [];
      for (const iterator of this.selectedAgent) {
        for (const [name, iterator2] of Object.entries(this.ItemsDateAgents)) {
          for (const [key2, iterator3] of Object.entries(iterator2)) {
            if (name == iterator.name) {
              let array = Object.keys(iterator2);
              array_B.push(array.length);
            }
          }
        }
      }

      // arrayAgentDate.push(array_B.length);
      // console.log("++++++", array_B);

      return array_B.length;
    },
    agentAdd(item) {
      let prueba;

      for (const iterator of item) {
        prueba = this.table_1.some(function(e, i) {
          return e.name === iterator.name;
        });
        // prueba = this.table_1.indexOf(iterator);

        if (prueba === false) {
          iterator.status = true;
          this.table_1.push(iterator);
          // console.log("agregando elemento primera vez");
        } else {
          iterator.status = true;
        }
      }

      // console.log(999, this.table_1);
    },
    addHours1(date) {
      let call_duration;
      let cont = 0;
      for (const iterator of this.selectedAgent) {
        for (const [name, iterator2] of Object.entries(this.ItemsDateAgents)) {
          for (const [key2, iterator3] of Object.entries(iterator2)) {
            if (name == iterator.name && key2 == date) {
              call_duration = iterator3.total_hours;
              cont = cont + parseFloat(call_duration);
            }
          }
        }
      }

      return cont.toFixed(2);
    },
    countAgentDay1(date) {
      let call_duration;
      let cont = 0;
      let array_B = [];
      for (const iterator of this.selectedAgent) {
        for (const [name, iterator2] of Object.entries(this.ItemsDateAgents)) {
          for (const [key2, iterator3] of Object.entries(iterator2)) {
            if (name == iterator.name && key2 == date) {
              array_B.push(name);
            }
          }
        }
      }

      return array_B.length;
    },
    agentCantidad(date) {
      let call_duration;
      let cont = 0;
      for (const iterator of this.selectedAgent) {
        for (const [name, iterator2] of Object.entries(this.ItemsDateAgents)) {
          for (const [key2, iterator3] of Object.entries(iterator2)) {
            if (name == iterator.name && key2 == date) {
              call_duration = iterator3.total_hours;
              cont = cont + parseFloat(call_duration);
            }
          }
        }
      }

      return cont.toFixed(2);
    },
    agents_active(name) {
      let agent = this.ItemsAgents.filter(function(index) {
        return index.name === name;
      });

      if (agent.length === 0) {
        return name;
      } else if (agent[0].active == false) {
        return "* " + name;
      } else {
        return name;
      }
    }
  }
};
</script>
<style>
.length_text {
  font-size: 1rem !important;
  color: white !important;
}
.tam-header {
  /* min-width: 160px !important;
  max-width: 160px !important; */
  font-size: 1rem !important;
}
.tr-color {
  background: #6cc1e6;
  color: white;
}
.headers-agent {
  min-width: 300px !important;
  max-width: 300px !important; 
}
</style>