<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="5" md="3" lg="3">
        <!-- <v-card> -->

        <!-- </v-card> -->
        <!-- <v-card class="shadow-large round"> -->
        <ValidationObserver ref="obs" v-slot="{ passes }">
          <v-card class="elevation-2 shadow-large round">
            <v-img
              src="../../../../images/Errescuer2018-singris.png"
              aspect-ratio="1"
              width="30%"
              contain
              class="mx-auto"
              alt="logo"
            ></v-img>
            <!-- <v-toolbar color="primary" dark>
            <v-toolbar-title class="display-1">Welcome back</v-toolbar-title>
            </v-toolbar>-->
            <!-- <v-card-title primary-title>
            Welcome back
            </v-card-title>-->
            <v-card-text>
              <v-form>
                <ValidationProvider rules="required|email" name="Email" v-slot="{ errors }">
                  <v-text-field
                    label="Email"
                    v-model="email"
                    name="login"
                    type="text"
                    :error-messages="errors"
                  />
                </ValidationProvider>
                <ValidationProvider rules="required" name="Password" v-slot="{ errors }">
                  <v-text-field
                    v-model="password"
                    id="password"
                    label="Password"
                    name="password"
                    type="password"
                    :error-messages="errors"
                  />
                </ValidationProvider>
              </v-form>
            </v-card-text>
            <v-card-actions class="px-5">
              <v-spacer />
              <v-btn :loading="loading" color="#25A8E0" block dark @click="passes(login)">Login</v-btn>
            </v-card-actions>
          </v-card>
        </ValidationObserver>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Swal from "sweetalert2";
export default {
  props: {
    source: String
  },
  data: () => ({
    email: "",
    password: "",
    loading: false
  }),
  computed: {},
  methods: {
    async login() {
      try {
        this.loading = true;
        const request = {
          email: this.email,
          password: this.password
        };
        const response = await this.$store.dispatch("auth/LOGIN_USER", request);
        this.loading = false;
        const role = localStorage.getItem("role");
        // if (parseInt(role) == 3) {
        //   this.$router.push({ name: "report_1_d" });
        // } else {
        //   this.$router.push({ name: "layout1" });
        // }
        this.$router.push({ name: "layout1" });
      } catch (error) {
        this.loading = false;
        this.notification(error.response.data);
      }
    },
    notification(message) {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
      });
      if (message.statusCode == 403) {
        Toast.fire({
          icon: "error",
          title: "unauthorized"
        });
      } else {
        Toast.fire({
          icon: "error",
          title: "Error"
        });
      }
    }
  }
};
</script>

<style>
.bg-img {
  background-image: url("../../../sass/img/bg_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right, bottom;
}
</style>