<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="shadow-large round">
          <v-data-table
            :headers="headers"
            :items="ItemsCampains"
            sort-by="calories"
            hide-default-footer
            disable-pagination
            class="elevation-0"
            @click:row="rowClick"
          >
            <template v-slot:top>
              <v-toolbar flat color="transparent">
                <v-toolbar-title class="text-accent">Campaigns</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="300px">
                  <template v-slot:activator="{ on }">
                    <v-btn outlined color="#E63E59" dark class="mb-2" v-on="on">
                      <v-icon class="mr-3">mdi-account-plus</v-icon>New Campaign
                    </v-btn>
                  </template>
                  <ValidationObserver tag="form" v-slot="{ passes }">
                    <v-card>
                      <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="12">
                              <p>Name must be 3 uppercase characters</p>
                              <ValidationProvider
                                name="name"
                                :rules="{ regex: /^[A-Z]+$/,required: true,max:3}"
                                v-slot="{ errors }"
                              >
                                <v-text-field
                                  v-model="editedItem.name"
                                  label="Name"
                                  :error-messages="errors"
                                ></v-text-field>
                              </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="12">
                              <!-- <p>Name must be 3 uppercase characters</p> -->
                              <ValidationProvider
                                name="Platform"
                                :rules="{ required: true}"
                                v-slot="{ errors }"
                              >
                                <v-select
                                  :items="items"
                                  v-model="editedItem.Pbx"
                                  label="Platform"
                                  :error-messages="errors"
                                ></v-select>
                              </ValidationProvider>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn outlined @click="close">Cancel</v-btn>
                        <v-btn color="#E63E59" outlined @click="passes(save)">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </ValidationObserver>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
              <v-icon class="mr-8" @click="editItem(item)">mdi-pencil</v-icon>
              <v-icon @click="deleteItem(item)">mdi-delete</v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Swal from "sweetalert2";
export default {
  data: () => ({
    edit: false,
    position_array: "",
    id_campaign: 0,
    itemsPerPage: 10,
    dialog: false,
    headers: [
      {
        text: "Name",
        align: "left",
        sortable: false,
        value: "name",
        class: "length_text head-color"
      },
      {
        text: "Platform",
        align: "left",
        sortable: false,
        value: "dialing_platform",
        class: "length_text head-color"
      },
      {
        text: "Edit / Delete",
        value: "action",
        sortable: false,
        class: "length_text head-color"
      }
      
    ],
    editedIndex: -1,
    editedItem: {
      name: "",
      Pbx: ""
    },
    defaultItem: {
      name: ""
    },
    items: ['xencall', 'ringcentral', '3cx', 'nimbus']
  }),

  computed: {
    formTitle() {
      return this.edit === false ? "New Campaign" : "Edit Campaign";
    },
    ItemsCampains() {
      return this.$store.getters["campaigns/GET_CAMPAIGNS"];
    },

  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    rowClick (item, row) {   
      if(row.isSelected == true) {
        row.select(false);
      }else {
        row.select(true);
        this.editItem(item)
      }
    },
    async initialize() {
      try {
        const response = await this.$store.dispatch("campaigns/INDEX");
        // console.log(response)
      } catch (error) {
        console.log(error);
      }
    },

    editItem(item) {
      this.position_array = this.ItemsCampains.indexOf(item);
      this.edit = true;
      this.id_campaign = item.id;
      this.editedItem.name = item.name;
      this.dialog = true;
    },

    deleteItem(item) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#4CAF50",
        cancelButtonColor: "#E63E59",
        confirmButtonText: "Yes, delete it!"
      }).then(async result => {
        if (result.value) {
          try {
            const response = await this.$store.dispatch(
              "campaigns/DELETED",
              item
            );
            // console.log(response);
            Swal.fire({
              icon: "success",
              title: "Deleted!",
              text: "Your campaign has been deleted.",
              type: "success",
              confirmButtonColor: "#25A8E0"
            });
          } catch (error) {
            console.log(error.response);
          }
        }
      });
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.edit = false;
      }, 300);
    },

    async save() {
      //   editar
      if (this.edit === true) {
        //   Object.assign(this.desserts[this.editedIndex], this.editedItem)
        const request = {
          id: this.id_campaign,
          name: this.editedItem.name,
          dialing_platform: this.editedItem.Pbx,
          position_array: this.position_array
        };
        // console.log("ENVIO",request)
        try {
          const response = await this.$store.dispatch(
            "campaigns/UPDATED",
            request
          );
          // console.log(response);
        } catch (error) {
          console.log(error);
        }
      } else {
        // guardar
        //   this.desserts.push(this.editedItem)
        const request = {
          name: this.editedItem.name,
          dialing_platform: this.editedItem.Pbx
        };
        try {
          const response = await this.$store.dispatch(
            "campaigns/REGISTER",
            request
          );

          Swal.fire({
            icon: "success",
            title: "Campaign created successfully",
            text: "",
            type: "success",
            confirmButtonColor: "#25A8E0"
          });

        } catch (error) {
          // console.log(error.response);
          let e = error.response.data.message;
          // console.log(e, "error");
          let list = "";

          for (const prop in e) {
            // console.log(prop, "ptop");
            list = list + `<li>${e[prop][0]}</li>`;
          }

          Swal.fire({
            icon: "error",
            title: "Oops...",
            html: list
          });
        }
      }
      this.close();
    }
  }
};
</script>
<style>
.length_text {
  font-size: 1rem !important;
  color: white !important;
}
</style>