<template>
  <v-container fluid class="pt-0">
    <v-row class="pt-0">
      <v-col cols="12">
        <v-card flat>
          <v-toolbar flat color="white" class="shadow-large round">
            <v-toolbar-title class="text-accent">
              {{
              NameCampaigns.name == undefined
              ? "Select campaign"
              : NameCampaigns.name
              }}
              - Upload Call Log
            </v-toolbar-title>
            <!-- {{DateDashboard}} -->
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  :loading="loading"
                  absolute
                  dark
                  fab
                  top
                  right
                  color="#E63E59"
                  v-on="on"
                  @click="jsexport"
                >
                  <v-icon>mdi-download</v-icon>
                </v-btn>
              </template>
              <span>Download</span>
            </v-tooltip>
            <!-- {{status_actual}} -->
          </v-toolbar>
          <v-toolbar color="#104961" class="elevation-0" style="border-radius: 0px;"></v-toolbar>
          <v-row class="px-2">
            <v-col cols="12" sm="8" md="10" class="pr-0 pb-0">
              <v-file-input
                prepend-icon
                v-model="files"
                chips
                outlined
                placeholder="Select CSV file"
                class="mx-3"
              ></v-file-input>
            </v-col>
            <v-col cols="12" sm="4" md="2" class="pl-0 pt-4 pb-0">
              <v-btn outlined color="pink" dark class="text-capitalize" large @click="fileDoc">
                <v-icon color="#104961">mdi-upload</v-icon>Upload File
              </v-btn>
            </v-col>
            <v-dialog
              v-model="loadingModal"
              persistent
              max-width="300px"
              transition="dialog-transition"
            >
              <v-card color="#25A8E0" loading dark>
                <v-card-title>
                  Loading ...
                  <v-progress-linear indeterminate color="white" class="mb-3"></v-progress-linear>
                </v-card-title>
              </v-card>
            </v-dialog>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row class="pt-0">
      <v-col cols="12">
        <v-card flat>
          <v-toolbar color="#104961" class="elevation-0" style="border-radius: 0px;">
            <v-spacer></v-spacer>
            <span
              style="font-size: 16px"
              class="font-weight-bold white--text"
            >Daily information loaded into database</span>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-row>
            <v-col cols="12" class="pt-0">
              <v-data-table
                :headers="headers"
                :items="ItemsDailyInformation"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                :server-items-length="pagination.total"
                :options.sync="options"
                hide-default-footer
                class="elevation-0"
                @page-count="pageCount = $event"
              >
                <template v-slot:item.created_at="{ item }">{{ item.created_at | hours_central }}</template>
              </v-data-table>
              <!-- <div class="text-center pt-2">
                <v-pagination
                  circle
                  v-model="page"
                  :length="pagination.page_count"
                  :total-visible="7"
                ></v-pagination>
              </div>-->
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import Swal from "sweetalert2";
import moment from "moment";

export default {
  data() {
    return {
      status_actual: '',
      options: {},
      dates: [],
      loadingValues: false,
      loading: false,
      showAlert: false,
      comparison: [],
      loadingModal: false,
      campaign_id: "",
      campaign_name: "",
      files: [],
      dense: false,
      fixedHeader: false,
      height: 300,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      headers: [
        {
          text: "Date range of calls",
          value: "range_timestamp",
          class: "tr-color tam-header",
          sortable: false,
        },
        {
          text: "Number of calls",
          value: "count_rows",
          class: "tr-color tam-header",
          sortable: false,
        },
        {
          text: "Number of agents",
          value: "count_agents",
          class: "tr-color tam-header",
          sortable: false,
        },
        {
          text: "Upload date stamp",
          value: "created_at",
          class: "tr-color tam-header",
          sortable: false,
        },
        {
          text: "Uploaded by",
          value: "uploaded_by.name",
          class: "tr-color tam-header",
          sortable: false,
        },
      ],
    };
  },
  filters: {
    hours_central(date) {
      let moment = require("moment-timezone");
      return moment
        .utc(date)
        .tz("America/Mexico_City")
        .format("YYYY-MM-DD HH:mm:ss");
    },
    
  },
  watch: {
    options: {
      async handler() {
        try {
          this.loading = true;

          console.log("qwertyuiqwert");

          const payload = {
            page: this.page,
            itemsPerPage: this.itemsPerPage,
            campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
          };

          console.log('payload', payload)

          const response = await this.$store.dispatch(
            "campaigns/DAILY_INFORMATION",
            payload
          );
          this.loading = false;
        } catch (error) {
          console.error(error);
          this.$snotify.error("Error al cargar listado.", "¡Vaya!");
        } finally {
          this.loading = false;
        }
      },
      deep: true,
    },
  },
  created() {
    this.GetCampaign();
    this.GetCallLog();

    setInterval(() => {
      this.hours_actual();
    }, 1000);
    
  },
  mounted() {
    this.campaign_id = this.$store.getters["campaigns/GET_CAMPAIGNS_ID"];
  },
  computed: {
    Itemscampaigns() {
      return this.$store.getters["campaigns/GET_CAMPAIGNS"];
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    },
    DateDashboard() {
      return this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
    },
    ItemsAgents() {
      const parse = this.$store.getters["report_1/GET_AGENTS_GENERAL"].filter(
        (value) => {
          value.hcc == 0 ? (value.hcc = false) : (value.hcc = true);
          value.active == 0 ? (value.active = false) : (value.active = true);
          return value;
        }
      );
      this.originalAgents = [...parse];
      return parse;
    },
    ItemsDailyInformation() {
      return this.$store.getters["campaigns/GET_DAILY_INFORMATION"];
    },
    pagination() {
      return this.$store.getters["campaigns/PAGINATION"];
    },
  },
  methods: {
    hours_actual(){
      let moment = require("moment-timezone");
      this.status_actual = moment
        .utc()
        .tz("America/Mexico_City")
        .format("YYYY-MM-DD HH:mm:ss")
    },
    jsexport() {
      this.loading = true;

      // URL Falsa para descargar
      let csvContent = "data:text/csv;charset=utf-8,";

      // formatos
      const delimiter = ",";
      const fixedDecimal = 2;

      // cabecera
      const csvHeader = [[this.NameCampaigns.name + "-  Upload Call Log "]];

      csvHeader.forEach((rowArray) => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });

      csvHeader[0] = [];

      this.headers.forEach((index, key) => {
        csvHeader[0].push(index.text);
      });

      // cuerpo
      const csvBody = [];
      let name = "";

      this.ItemsDailyInformation.forEach((element, key) => {
        // columna padre
        const dispFatherRowArray = [];

        dispFatherRowArray.push(element.created_at);
        dispFatherRowArray.push(element.count_rows);
        dispFatherRowArray.push(element.id);
        dispFatherRowArray.push(element.created_at);
        dispFatherRowArray.push(element.uploaded_by.name);

        // inserta columna padre
        // if (key > 0) {
        csvBody.push(dispFatherRowArray);
        // }
      });

      // añadir resultados url falsa

      csvHeader.forEach((rowArray) => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      csvBody.forEach((rowArray) => {
        let row = rowArray.join(delimiter);
        csvContent += row + "\r\n";
      });
      this.loading = false;

      const nameCSV = `${
        this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"].name
      }-Upload-Call-Log-${moment().format("YYYY-MM-DD")}.csv`;
      // generar elemento del dom para poner el enlace
      const encodedUri = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("download", nameCSV);
      document.body.appendChild(link); // Required for FF
      // darle click
      link.click();
    },
    async GetCampaign() {
      try {
        const response = await this.$store.dispatch("campaigns/INDEX");
        // this.campaign_id = response.data[0].id
        // console.log('campaign', response)
      } catch (error) {
        console.log(error);
      }
    },
    async GetCallLog() {
      try {
        const payload = {
          page: this.page,
          itemsPerPage: this.itemsPerPage,
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
        };

          console.log('payload 2', payload)

        const response = await this.$store.dispatch(
          "campaigns/DAILY_INFORMATION",
          payload
        );
        // this.campaign_id = response.data[0].id
        // console.log("campaign*L*L*", response);
      } catch (error) {
        console.log(error);
      }
    },
    async fileDoc() {
      try {
        let idC = localStorage.getItem("campaign_id");
        if (this.files.length === 0) {
          Swal.fire({
            icon: "warning",
            title: "Please select a file",
            text: "",
            confirmButtonColor: "#25A8E0",
          });
        } else if (idC == null) {
          Swal.fire({
            icon: "warning",
            title: "Please select a campaign",
            text: "",
            confirmButtonColor: "#25A8E0",
          });
        } else {
          Swal.fire({
            title: "Are you sure you want to do this?",
            text: "This action cannot be undone",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#4CAF50",
            cancelButtonColor: "#E63E59",
            confirmButtonText: "Agree",
          }).then(async (result) => {
            if (result.value) {
              this.loadingModal = true;
              let id = localStorage.getItem("campaign_id");
              let formData = new FormData();
              formData.append("csv", this.files);
              formData.append("campaign_id", id);
              this.$store
                .dispatch("report_1/ADD_FILE", formData)
                .then((response) => {
                  let id = localStorage.getItem("campaign_id");
                  this.campaign_id = id;
                  this.files = [];
                  this.loadingModal = false;
                  this.GetCallLog();
                  Swal.fire({
                    icon: "success",
                    title: "File uploaded successfully",
                    text: "",
                    confirmButtonColor: "#25A8E0",
                  });
                })
                .catch((e) => {
                  this.loadingModal = false;
                  console.log("error", e.response);
                  let message =
                    e.response.data.message;
                  Swal.fire({
                    icon: "error",
                    title: "Error!",
                    html: message,
                    customClass: {
                      content: "text-xs-left px-3",
                    },
                    confirmButtonText: "Ok",
                    confirmButtonColor: "#25A8E0",
                  });
                });
            }
          });
        }
      } catch (e) {
        this.loadingModal = false;
        Swal.fire({
          icon: "error",
          title: "Error!",
          html: e.response.data.message,
          type: "error",
          customClass: {
            content: "text-xs-left px-3",
          },
          confirmButtonText: "Ok",
          confirmButtonColor: "#25A8E0",
        });
      }
    },
  },
};
</script>
<style>
.tr-color {
  background: #6cc1e6 !important;
  color: white !important;
}
.tam-header {
  /* min-width: 160px !important;
  max-width: 160px !important; */
  font-size: 1rem !important;
}
</style>
