<template>
  <v-container fluid class="pt-0">
    <v-row class="py-0">
      <v-col cols="12" class="py-0">
        <v-card flat>
          <v-toolbar flat color="white" class="shadow-large round">
            <v-toolbar-title class="text-accent">
              {{
              NameCampaigns.name == undefined
              ? "Select campaign"
              : NameCampaigns.name
              }}
              - Call Log
            </v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  absolute
                  dark
                  fab
                  top
                  right
                  color="#E63E59"
                  :loading="loading"
                  @click="export_csv"
                  v-on="on"
                >
                  <v-icon>mdi-download</v-icon>
                </v-btn>
              </template>
              <span>Download</span>
            </v-tooltip>
          </v-toolbar>
        </v-card>
      </v-col>
    </v-row>
    <v-row class="pt-0">
      <!-- primera -->
      <v-col cols="12" class="pt-0">
        <v-app-bar color="#104961" short flat>
          <span
            style="font-size: 16px; margin-left: 210px"
            class="font-weight-bold white--text"
          >{{ first_fortnight() }}</span>
          <v-spacer></v-spacer>

          <!-- <v-checkbox
                v-model="first_fortnight_section"
                color="white"
                hide-details
          ></v-checkbox>-->
        </v-app-bar>
        <v-data-table
          :headers="Itemsheaders"
          :items="ItemsCallLog"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          :server-items-length="pagination.total"
          :options.sync="options"
          hide-default-footer
          :loading="loading"
          loading-text="Loading... Please wait"
          @page-count="pageCount = $event"
        >
          <template
            v-slot:item.telephonic_data.call_time="{ item }"
          >{{ item.telephonic_data.call_time | format_hours }}</template>
          <template
            v-slot:item.telephonic_data.hold_time="{ item }"
          >{{ item.telephonic_data.hold_time | format_hours }}</template>
          <template
            v-slot:item.telephonic_data.talk_time="{ item }"
          >{{ item.telephonic_data.talk_time | format_hours }}</template>
        </v-data-table>
        <div class="text-center pt-2">
          <v-pagination circle v-model="page" :length="pagination.page_count" :total-visible="7"></v-pagination>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import Swal from "sweetalert2";
import moment from "moment";

export default {
  data() {
    return {
      loading: false,
      dense: false,
      fixedHeader: false,
      height: "33rem",
      table_first: [],
      options: {},
      page: 1,
      pageCount: 2,
      itemsPerPage: 20,
      total: 2,
    };
  },
  filters: {
    parse_decimal(value) {
      return parseFloat(value).toFixed(2);
    },
    format_hours(seconds) {
      return moment("2015-01-01")
        .startOf("day")
        .seconds(parseInt(seconds))
        .format("H:mm:ss");
    },
  },
  watch: {
    options: {
      async handler() {
        try {
          this.loading = true;
          const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];

          const payload = {
            start: dates.ini,
            end: dates.end,
            page: this.page,
            campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
            itemsPerPage: this.itemsPerPage,
          };
          await this.$store.dispatch("report_4/GET_INDEX_CALL_LOG", payload);
          this.loading = false;
        } catch (error) {
          console.error(error);
          this.$snotify.error("Error al cargar listado.", "¡Vaya!");
        } finally {
          this.loading = false;
        }
      },
      deep: true,
    },
  },

  created() {
    this.date_position();
    // this.scorecard_second_fortnight();
    // this.scorecard_today();
  },
  mounted() {
    this.campaign_id = this.$store.getters["campaigns/GET_CAMPAIGNS_ID"];
  },
  computed: {
    Itemscampaigns() {
      return this.$store.getters["campaigns/GET_CAMPAIGNS"];
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    },
    DateDashboard() {
      return this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
    },
    pagination() {
      return this.$store.getters["report_4/PAGINATION"];
    },
    ItemsCallLog() {
      return this.$store.getters["report_4/GET_CALL_LOG"];
    },
    Itemsheaders() {
      return this.$store.getters["report_4/GET_CALL_LOG_KEY"];
    },
  },
  methods: {
    current_day() {
      const day_new = moment().subtract(1, "days").format("MMMM Do, YYYY");

      return day_new;
    },
    first_fortnight() {
      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];

      let day_1 = moment(dates.ini).format("MMMM Do");
      let day_2 = moment(dates.end).format("Do, YYYY");

      return `${day_1} - ${day_2}`;
    },
    second_fortnight() {
      let day = moment().format("DD");
      let month = moment().subtract(1, "months").format("MM");
      let month2 = moment().format("MM");
      let year = moment().format("YYYY");

      let day_1;
      let day_2;

      if (day > 15) {
        day_1 = moment(`${year}-${month2}-16`).format("MMMM Do");
        day_2 = moment(`${year}-${month2}-16`)
          .endOf("month")
          .format("Do, YYYY");
      } else {
        day_1 = moment(`${year}-${month}-16`).format("MMMM Do");
        day_2 = moment(`${year}-${month}-16`).endOf("month").format("Do, YYYY");
      }

      return `${day_1} - ${day_2}`;
    },
    date_position() {
      let day = moment().format("DD");

      if (day > 15) {
        this.second_fortnight_section = true;
      } else {
        this.first_fortnight_section = false;
      }
    },
    async export_csv() {
      this.loading = true;

      // let export_type = ''
      // if (name == 'pdf') {
      //   this.loading_pdf = true
      //   export_type = 1
      // }else {
      //   this.loading_excel = true
      //   export_type = 2
      // }

      // if (this.dates[0] > this.dates[1] && this.menu == true)
      //   {
      //     let num_1 = this.dates[0]
      //     let num_2 = this.dates[1]
      //     this.dates[0] = num_2
      //     this.dates[1] = num_1
      //   }

      //   let ini = 0;
      //   let end = 0;
      //   if (this.dates.length > 0) {
      //     ini = this.dates[0];
      //     end = this.dates[1];
      //   }

      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];

      const payload = {
        start: moment(dates.ini).format("MM/DD/YYYY"),
        end: moment(dates.end).format("MM/DD/YYYY"),
        campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
      };

      axios({
        method: "get",
        url: `${process.env.MIX_APP_URL}/call-log/download-csv?campaign_id=${payload.campaign_id}&start_date=${payload.start}&end_date=${payload.end}`,
        timeout: 600000,
        responseType: "arraybuffer",
        // headers: {
        //   Authorization: ` Bearer ${localStorage.getItem("token")}`
        // },
        // data: request
      })
        .then((response) => {
          this.loading = false;
          this.forceFileDownload(response, payload);
        })
        .catch((error) => {
          this.loading = false;

          console.log("error occured", error);
        });
    },
    forceFileDownload(response, payload) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute(
        "download",
        `Call_log_${this.NameCampaigns.name}_from_${payload.start}_to_${payload.end}.csv`
      );
      //or any other extension
      document.body.appendChild(link);
      link.click();
    },
  },
};
</script>
<style>
.tr-color {
  background: #6cc1e6 !important;
  color: white !important;
  font-weight: 400;
}
.tam-header-call-log {
  /* min-width: 400px !important;
  max-width: 400px !important;  */
  font-size: 1rem !important;
}
.tam-header-agent {
  min-width: 300px !important;
  max-width: 300px !important; 
}
.tam-header-timestamp {
  min-width: 500px !important;
  max-width: 500px !important; 
}
</style>
