<template>
  <v-container fluid class="pt-0">
    <v-row class="py-0">
      <v-col cols="12" class="py-0">
        <v-card flat>
          <v-toolbar flat color="white" class="shadow-large round">
            <v-toolbar-title class="text-accent">
              {{
                NameCampaigns.name == undefined
                  ? "Select campaign"
                  : NameCampaigns.name
              }}
              - Audit Report
            </v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-btn
              width="150"
              color="#E63E59"
              outlined
              class="text-capitalize"
              @click="quarter"
              >Quarter</v-btn
            >
            <v-btn
              width="150"
              color="#E63E59"
              outlined
              class="text-capitalize mx-5"
              @click="year"
              >Year</v-btn
            >
            <v-btn
              width="150"
              color="#E63E59"
              outlined
              class="text-capitalize"
              @click="all_campaigns"
              >All Campaigns</v-btn
            >

            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  absolute
                  dark
                  fab
                  top
                  right
                  color="#E63E59"
                  :loading="loading"
                  @click="export_csv"
                  v-on="on"
                >
                  <v-icon>mdi-download</v-icon>
                </v-btn>
              </template>
              <span>Download</span>
            </v-tooltip>
          </v-toolbar>
        </v-card>
      </v-col>
    </v-row>
    <v-row class="pt-0">
      <!-- primera -->
      <v-col cols="12" class="pt-0">
        <v-app-bar color="#104961" short flat>
          <span
            style="font-size: 16px; margin-left: 210px"
            class="font-weight-bold white--text"
            >{{ date_app }}</span
          >
          <v-spacer></v-spacer>

          <!-- <v-checkbox
                v-model="first_fortnight_section"
                color="white"
                hide-details
          ></v-checkbox>-->
        </v-app-bar>
        <v-data-table
          :headers="headers"
          :items="ItemsAudit"
          :page.sync="page"
          :items-per-page="itemsPerPage"
          :server-items-length="pagination.total"
          :options.sync="options"
          hide-default-footer
          :loading="loading"
          loading-text="Loading... Please wait"
          @page-count="pageCount = $event"
        >
          <template v-slot:item.date="{ item }">{{
            item.created_at | format_date
          }}</template>
          <template v-slot:item.time="{ item }">{{
            item.created_at | format_hours
          }}</template>
          <template v-slot:item.details="{ item }"
            >{{ item.action }} - {{ item.details }}</template
          >

          <!-- <template
            v-slot:item.telephonic_data.talk_time="{ item }"
          >{{ item.telephonic_data.talk_time | format_hours }}</template> -->
        </v-data-table>
        <div class="text-center pt-2">
          <v-pagination
            circle
            v-model="page"
            :length="pagination.page_count"
            :total-visible="7"
          ></v-pagination>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import Swal from "sweetalert2";
import moment from "moment";

export default {
  data() {
    return {
      status: 0,
      status_csv: 0,
      loading: false,
      dense: false,
      fixedHeader: false,
      height: "33rem",
      table_first: [],
      options: {},
      page: 1,
      pageCount: 2,
      itemsPerPage: 20,
      total: 2,
      date_app: "",
      headers: [
        {
          text: "Date",
          value: "date",
          class: "length_text tr-color tam-header-call-log",
          sortable: false,
          width: 150,
        },
        {
          text: "Time",
          value: "time",
          class: "length_text tr-color tam-header-call-log",
          sortable: false,
          width: 150,
        },
        {
          text: "User",
          value: "user.name",
          class: "length_text tr-color tam-header-call-log",
          sortable: false,
          width: 150,
        },
        {
          text: "Campaign",
          value: "campaign.name",
          class: "length_text tr-color tam-header-call-log",
          sortable: false,
          width: 150,
        },
        {
          text: "Action and Details",
          value: "details",
          class: "length_text tr-color tam-header-call-log",
          width: 600,
          sortable: false,
        },
      ],
    };
  },
  filters: {
    parse_decimal(value) {
      return parseFloat(value).toFixed(2);
    },
    format_hours(value) {
      let moment = require("moment-timezone");
      return moment
        .utc(value)
        .tz("America/Mexico_City")
        .format("HH:mm:ss");
      // return moment(value).format("H:mm:ss");
    },
    format_date(value) {
      return moment(value).format("YYYY-MM-DD");
    },
  },
  watch: {
    options: {
      async handler() {
        try {
          this.loading = true;
          const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];

          const payload = {
            start: dates.ini,
            end: dates.end,
            page: this.page,
            campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
            itemsPerPage: this.itemsPerPage,
          };

          if (this.status == 1) {
            this.quarter()
          }else if(this.status == 2){
            this.year()
          }else if (this.status == 3) {
            this.all_campaigns()
          }else{
            await this.$store.dispatch("audit/INDEX_DATE", payload);
            this.loading = false;            
          }
        } catch (error) {
          console.error(error);
          this.$snotify.error("Error al cargar listado.", "¡Vaya!");
        } finally {
          this.loading = false;
        }
      },
      deep: true,
    },
  },

  created() {
    this.date_position();
    this.first_fortnight();
    // this.scorecard_second_fortnight();
    // this.scorecard_today();
  },
  mounted() {
    this.campaign_id = this.$store.getters["campaigns/GET_CAMPAIGNS_ID"];
  },
  computed: {
    Itemscampaigns() {
      return this.$store.getters["campaigns/GET_CAMPAIGNS"];
    },
    NameCampaigns() {
      return this.$store.getters["campaigns/GET_SELECTED_CAMPAIGN"];
    },
    DateDashboard() {
      return this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
    },
    pagination() {
      return this.$store.getters["audit/PAGINATION"];
    },
    ItemsAudit() {
      return this.$store.getters["audit/GET_AUDIT"];
    },
    Itemsheaders() {
      return this.$store.getters["audit/GET_AUDIT_KEY"];
    },
  },
  methods: {
    current_day() {
      const day_new = moment().subtract(1, "days").format("MMMM Do, YYYY");

      return day_new;
    },
    first_fortnight() {
      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];

      let day_1 = moment(dates.ini).format("MMMM Do");
      let day_2 = moment(dates.end).format("Do, YYYY");

      this.date_app = `${day_1} - ${day_2}`;
    },
    second_fortnight() {
      let day = moment().format("DD");
      let month = moment().subtract(1, "months").format("MM");
      let month2 = moment().format("MM");
      let year = moment().format("YYYY");

      let day_1;
      let day_2;

      if (day > 15) {
        day_1 = moment(`${year}-${month2}-16`).format("MMMM Do");
        day_2 = moment(`${year}-${month2}-16`)
          .endOf("month")
          .format("Do, YYYY");
      } else {
        day_1 = moment(`${year}-${month}-16`).format("MMMM Do");
        day_2 = moment(`${year}-${month}-16`).endOf("month").format("Do, YYYY");
      }

      return `${day_1} - ${day_2}`;
    },
    date_position() {
      let day = moment().format("DD");

      if (day > 15) {
        this.second_fortnight_section = true;
      } else {
        this.first_fortnight_section = false;
      }
    },
    async export_csv() {
      this.loading = true;

      const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];

      const payload = {
        start: moment(dates.ini).format("MM/DD/YYYY"),
        end: moment(dates.end).format("MM/DD/YYYY"),
        campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
      };

      let url = ''

      if(this.status_csv == 3)
      {
        url = `${process.env.MIX_APP_URL}/api/v1/audits/download-csv?start_date=${payload.start}&end_date=${payload.end}`
      }else {
        url = `${process.env.MIX_APP_URL}/api/v1/audits/download-csv?start_date=${payload.start}&end_date=${payload.end}&campaign_id=${payload.campaign_id}`
      }

      axios({
        method: "get",
        url: url,
        timeout: 600000,
        responseType: "arraybuffer",
        headers: {
          Authorization: ` Bearer ${localStorage.getItem("token")}`,
        },
        // data: request
      })
        .then((response) => {
          this.loading = false;
          this.forceFileDownload(response, payload);
        })
        .catch((error) => {
          this.loading = false;

          console.log("error occured", error);
        });
    },
    forceFileDownload(response, payload) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute(
        "download",
        `Audit_Report_${this.NameCampaigns.name}_from_${payload.start}_to_${payload.end}.csv`
      );
      //or any other extension
      document.body.appendChild(link);
      link.click();
    },
    async quarter() {
      try {
        this.loading = true;
        this.status_csv = 1
        const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
        const month_ini = moment(dates.ini).subtract(3, "months").format("MM");
        const year_ini = moment(dates.ini)
          .subtract(11, "months")
          .format("YYYY");
        const month_end = moment(dates.ini).format("MM");
        const year_end = moment(dates.ini).format("YYYY");
        // const date_end = moment(dates.ini).endOf("month").format("DD");
        const date_end = moment(dates.end).format("DD");

        const payload = {
          start: `${month_ini}/01/${year_ini}`,
          end: `${month_end}/${date_end}/${year_end}`,
          page: this.page,
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
          itemsPerPage: this.itemsPerPage,
        };

        console.log("****", payload);
        await this.$store.dispatch("audit/INDEX_DATE", payload);
        // this.loading = false;
        // this.date_app = 'argelisssssssss'

        let day_1 = moment(`${month_ini}/01/${year_ini}`).format("MMMM Do");
        let day_2 = moment(`${month_end}/${date_end}/${year_end}`).format(
          "MMMM Do, YYYY"
        );

        this.status = 1
        this.date_app = `${day_1} - ${day_2}`;
      } catch (error) {
        console.error(error);
        this.$snotify.error("Error al cargar listado.", "¡Vaya!");
      } finally {
        this.loading = false;
      }
    },
    async year() {
      try {
        this.loading = true;
        this.status_csv = 2
        const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
        const month_ini = moment(dates.ini).subtract(11, "months").format("MM");
        const year_ini = moment(dates.ini)
          .subtract(11, "months")
          .format("YYYY");
        const month_end = moment(dates.ini).format("MM");
        const year_end = moment(dates.ini).format("YYYY");
        const date_end = moment(dates.ini).endOf("month").format("DD");
        console.log(month_ini);
        const payload = {
          start: `${month_ini}/01/${year_ini}`,
          end: `${month_end}/${date_end}/${year_end}`,
          page: this.page,
          campaign_id: this.$store.getters["campaigns/GET_CAMPAIGNS_ID"],
          itemsPerPage: this.itemsPerPage,
        };

        console.log("****", payload);
        await this.$store.dispatch("audit/INDEX_DATE", payload);
        // this.loading = false;
        // this.date_app = 'argelisssssssss'

        let day_1 = moment(`${month_ini}/01/${year_ini}`).format(
          "MMMM Do, YYYY"
        );
        let day_2 = moment(`${month_end}/${date_end}/${year_end}`).format(
          "MMMM Do, YYYY"
        );

        this.status = 2
        this.date_app = `${day_1} - ${day_2}`;
      } catch (error) {
        console.error(error);
        this.$snotify.error("Error al cargar listado.", "¡Vaya!");
      } finally {
        this.loading = false;
      }
    },
    async all_campaigns() {
      try {
        this.loading = true;
        this.status_csv = 3
        const dates = this.$store.getters["campaigns/GET_DATE_DASHBOARD"];
        const payload = {
          start: dates.ini,
          end: dates.end,
          page: this.page,
          itemsPerPage: this.itemsPerPage,
        };

        console.log("****", payload);
        await this.$store.dispatch("audit/INDEX", payload);
        // this.loading = false;
        // this.date_app = 'argelisssssssss'

        let day_1 = moment(dates.ini).format("MMMM Do");
        let day_2 = moment(dates.end).format(
          "Do, YYYY"
        );

        this.status = 3
        this.date_app = `${day_1} - ${day_2}`;
      } catch (error) {
        console.error(error);
        this.$snotify.error("Error al cargar listado.", "¡Vaya!");
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style>
.tr-color {
  background: #6cc1e6 !important;
  color: white !important;
  font-weight: 400;
}
.tam-header-call-log {
  /* min-width: 400px !important;
  max-width: 400px !important;  */
  font-size: 1rem !important;
}
/* .tam-header-agent {
  min-width: 300px !important;
  max-width: 300px !important; 
} */
.tam-header-timestamp {
  min-width: 500px !important;
  max-width: 500px !important;
}
</style>
