<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="shadow-large round">
          <v-data-table
            :headers="headers"
            :items="ItemsUsers"
            sort-by="calories"
            hide-default-footer
            disable-pagination
            class="elevation-0"
            @click:row="rowClick"
          >
            <template v-slot:top>
              <v-toolbar flat color="transparent">
                <v-toolbar-title class="text-accent">Users</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="700px">
                  <template v-slot:activator="{ on }">
                    <v-btn outlined color="#E63E59" dark class="mb-2" v-on="on">
                      <v-icon class="mr-3">mdi-account-plus</v-icon>New User
                    </v-btn>
                  </template>
                  <ValidationObserver tag="form" v-slot="{ passes }">
                    <v-card>
                      <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="12" md="4">
                              <ValidationProvider name="name" rules="required" v-slot="{ errors }">
                                <v-text-field
                                  v-model="editedItem.name"
                                  label="Name"
                                  :error-messages="errors"
                                ></v-text-field>
                              </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="12" md="8">
                              <ValidationProvider
                                name="email"
                                rules="email|required"
                                v-slot="{ errors }"
                              >
                                <v-text-field
                                  v-model="editedItem.email"
                                  label="Email"
                                  :error-messages="errors"
                                ></v-text-field>
                              </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="12" md="4" v-if="edit === false">
                              <ValidationProvider
                                name="password"
                                rules="confirmed:confirmation|required"
                                v-slot="{ errors }"
                              >
                                <v-text-field
                                  v-model="password"
                                  label="Password"
                                  type="password"
                                  :error-messages="errors"
                                ></v-text-field>
                              </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="12" md="4" v-if="edit === false">
                              <ValidationProvider
                                name="confirm password"
                                rules="required"
                                vid="confirmation"
                                v-slot="{ errors }"
                              >
                                <v-text-field
                                  v-model="confirm_password"
                                  label="Confirm Password"
                                  type="password"
                                  :error-messages="errors"
                                ></v-text-field>
                              </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="12" md="4">
                              <ValidationProvider name="role" rules="required" v-slot="{ errors }">
                                <v-select
                                  v-model="editedItem.rol"
                                  label="Role"
                                  :items="ItemsRol"
                                  item-text="name"
                                  item-value="id"
                                  :error-messages="errors"
                                ></v-select>
                              </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                              <!--  :rules="{required: (
                              (edit === false && editedItem.rol == 3)) ? true : false}"-->
                              <ValidationProvider
                                name="campaigns"
                                :rules="{required: (
                                          (edit === false && editedItem.rol > 1) || 
                                          (edit === true && editedItem.rol == 3)
                                        ) ? true : false}"
                                v-slot="{ errors }"
                              >
                                <v-select
                                  v-if="(edit === false && editedItem.rol > 1) || 
                                        (edit === true && editedItem.rol == 2) ||
                                        (edit === true && editedItem.rol == 3)"
                                  multiple
                                  v-model="editedItem.campaign_id"
                                  label="Campaigns"
                                  small-chips
                                  :items="Itemscampaigns"
                                  item-text="name"
                                  item-value="id"
                                  :error-messages="errors"
                                ></v-select>
                              </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                              <!--  :rules="{required: (
                              (edit === false && editedItem.rol == 3)) ? true : false}"-->
                              <ValidationProvider
                                name="permissions"
                                :rules="{required: (
                                          (edit === false && editedItem.rol > 2) || 
                                          (edit === true && editedItem.rol == 3)
                                        ) ? true : false}"
                                v-slot="{ errors }"
                              >
                                <v-select
                                  v-if="(edit === false && editedItem.rol > 2) || 
                                        (edit === true && editedItem.rol == 3)"
                                  multiple
                                  v-model="editedItem.permission_id"
                                  label="Permissions"
                                  small-chips
                                  menu-props="auto"
                                  single-line
                                  :items="ItemsPermission"
                                  item-text="name"
                                  item-value="id"
                                  :error-messages="errors"
                                >
                                  <template v-slot:selection="{ item, index }">
                                    <v-chip small>
                                      <span>{{ item.name | permission_name }}</span>
                                    </v-chip>
                                  </template>

                                  <template v-slot:item="{ item, index }">
                                    <span>{{ item.name | permission_name }}</span>
                                  </template>
                                </v-select>
                              </ValidationProvider>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn outlined @click="close">Cancel</v-btn>
                        <v-btn color="#E63E59" outlined @click="passes(save)">Save</v-btn>
                      </v-card-actions>
                    </v-card>
                  </ValidationObserver>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
              <!-- <v-btn icon class="mr-8" @click="editItem(item)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon v-if="userId != item.id" @click="deleteItem(item)">
                <v-icon>mdi-delete</v-icon>
              </v-btn> -->
              <v-icon class="mr-12" @click="editItem(item)">mdi-pencil</v-icon>
              <v-icon v-if="userId != item.id" @click="deleteItem(item)">mdi-delete</v-icon>
            </template>
            <!-- <template v-slot:body="{ items }">
              <tbody>
                <tr @click="rowSelect(key, 1)" v-for="(item, key) in items" :key="item.name">
                  <td>{{ item.name }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.roles[0].name }}</td>
                  <td>
                    <v-icon class="mr-8" @click="editItem(item)">mdi-pencil</v-icon>
                    <v-icon v-if="userId != item.id" @click="deleteItem(item)">mdi-delete</v-icon>
                  </td>
                </tr>
              </tbody>
            </template> -->
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Swal from "sweetalert2";

export default {
  data: () => ({
    selectedRow: null,
    userId: parseInt(localStorage.getItem("id")),
    edit: false,
    position_array: "",
    id_user: 0,
    itemsPerPage: 10,
    dialog: false,
    headers: [
      {
        text: "Name",
        align: "left",
        sortable: false,
        value: "name",
        class: "length_text head-color"
      },
      { text: "Email", value: "email", class: "length_text head-color" },
      { text: "Role", value: "roles[0].name", class: "length_text head-color" },
      {
        text: "Edit / Delete",
        value: "action",
        sortable: false,
        class: "length_text head-color"
      }
    ],
    desserts: [],
    editedIndex: -1,
    password: "",
    confirm_password: "",
    editedItem: {
      name: "",
      email: "",
      rol: "",
      campaign_id: []
    },
    defaultItem: {
      name: "",
      email: "",
      rol: "",
      campaign_id: []
    }
  }),

  filters: {
    permission_name(name) {
      switch (name) {
        case 'front.upload.index':
        return 'Upload Call Log'
          break;
        case 'front.agents.index':
        return 'Agents'
          break;
        case 'front.dispositions.index':
        return 'Dispositions'
          break;
        case 'front.agents_hours.index':
        return 'Agent Hours'
          break;
        case 'front.agents_hours_custom.index':
        return 'Agent Hours - Custom'
          break;
        case 'front.daily_activity.index':
        return 'Daily Activity'
          break;
        case 'front.scorecard.index':
        return 'Scorecard'
          break;
        case 'front.call_log.index':
        return 'Call Log'
          break;
      }
    }
  },

  computed: {
    formTitle() {
      return this.edit === false ? "New User" : "Edit User";
    },
    ItemsRol() {
      return this.$store.getters["users/GET_ROL"];
    },
    ItemsPermission() {
      return this.$store.getters["users/GET_PERMISSION"];
    },
    ItemsUsers() {
      return this.$store.getters["users/GET_USERS"];
    },
    Itemscampaigns() {
      return this.$store.getters["campaigns/GET_CAMPAIGNS"];
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
    this.role();
    this.permission();
  },

  methods: {
    rowClick (item, row) {   
      if(row.isSelected == true) {
        row.select(false);
      }else {
        row.select(true);
        this.editItem(item)
      }
    },
    async initialize() {
      try {
        const response = await this.$store.dispatch("users/INDEX_USER");
        console.log(response.data, "PAGINADOS");
      } catch (error) {
        console.log(error);
      }
    },

    editItem(item) {
      console.log(item, "editar");
      // let data = state.users.indexOf(payload)
      this.position_array = this.ItemsUsers.indexOf(item);
      console.log(this.position_array, "updated position");

      this.edit = true;
      this.id_user = item.id;
      // this.editedIndex = this.desserts.indexOf(item)
      // this.editedItem = Object.assign({}, item)
      this.editedItem.name = item.name;
      this.editedItem.email = item.email;
      this.editedItem.rol = item.roles[0].id;
      this.editedItem.permission_id = item.permissions.map((index, elem) => {
        return index.id;
      });
      console.log("this.editedItem.rol");
      this.editedItem.campaign_id = item.campaigns.map((index, elem) => {
        return index.id;
      });
      this.dialog = true;
    },

    deleteItem(item) {
      // this.edit = false;
      console.log('this.edit ', this.edit )
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#4CAF50",
        cancelButtonColor: "#E63E59",
        confirmButtonText: "Yes, delete it!"
      }).then(async result => {
        if (result.value) {
          try {
            const response = await this.$store.dispatch("users/DELETED", item);
            console.log(response);
            Swal.fire({
              icon: "success",
              title: "Deleted!",
              text: "Your user has been deleted.",
              type: "success",
              confirmButtonColor: "#25A8E0"
            });
          } catch (error) {
            
            console.log(error.response);
          }
        }
          // this.edit = false;
      });
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.edit = false;
      }, 300);
    },

    async save() {
      //   editar
      if (this.edit === true) {
        //   Object.assign(this.desserts[this.editedIndex], this.editedItem)
        const request = {
          id: this.id_user,
          name: this.editedItem.name,
          email: this.editedItem.email,
          rol: this.editedItem.rol,
          campaigns: this.editedItem.campaign_id,
          permissions: this.editedItem.permission_id,
          position_array: this.position_array
        };
        console.log(request, "editar");
        try {
          const response = await this.$store.dispatch(
            "users/UPDATED_USER",
            request
          );
          console.log(response);
        } catch (error) {
          console.log(error);
        }
      } else {
        // guardar
        //   this.desserts.push(this.editedItem)
        const request = {
          password: this.password,
          password_confirmation: this.confirm_password,
          name: this.editedItem.name,
          email: this.editedItem.email,
          roles: [this.editedItem.rol],
          campaigns: this.editedItem.campaign_id,
          permissions: this.editedItem.permission_id
        };

        console.log(request, "guardar");
        try {
          const response = await this.$store.dispatch(
            "users/REGISTER_USER",
            request
          );
          console.log(response, "registro con exito");
        } catch (error) {
          console.log(error);
        }
      }
      this.close();
    },

    async role() {
      try {
        const response = await this.$store.dispatch("users/ROL_USER");
      } catch (error) {
        console.log(error);
      }
    },

    async permission() {
      try {
        const response = await this.$store.dispatch("users/PERMISSION_USER");
      } catch (error) {
        console.log(error);
      }
    },
  }
};
</script>

<style>
.length_text {
  font-size: 1rem !important;
  color: white !important;
}
.custom-highlight-row{
  background-color: pink
}
.theme--light.v-data-table .v-data-table-header th.sortable.active, .theme--light.v-data-table .v-data-table-header th.sortable.active .v-data-table-header__icon, .theme--light.v-data-table .v-data-table-header th.sortable:hover {
    color: #f8f9fa !important;
}
</style>
